{extend  name="public:main"}
{block name="main"}
<!--main 开始-->
<div class='main width change_password'>
    <div class="change_password_in">
        <h2 class="change_password_h2">Change Password</h2>
        <form >
            <ol>
                <li>
                    <label>
                        <span>原密码</span>
                        <input type="password" id="oldPwd" placeholder="请输入旧密码" maxlength="20"  class="layui-input" autocomplete="off" >
                    </label>
                </li>

                <li>
                    <label>
                        <span>新密码</span>
                        <input autocomplete="off" type="password" id="password" placeholder="请输入新密码" maxlength="20"  class="layui-input">
                    </label>
                </li>

                <li>
                    <label>
                        <span>确认新密码</span>
                        <input autocomplete="off" type="password" id="confirmPwd" placeholder="请确认输入新密码" maxlength="20"  class="layui-input">
                    </label>
                </li>
            </ol>
            <div class="layui-btn layui-btn-disabled update">Update Password</div>
        </form>

    </div>
</div>
<!--main 结束-->

{/block}
{block name="script"}
<script type="text/javascript">
    $(function () {
        var checkflag = false;
        var conflag = false;
        layui.use('form', function () {
            var form = layui.form;
        });
        $('#oldPwd').blur(function () {
            var oldPwd = $(this).val();
            if ($.trim(oldPwd) != '') {
                $.post('{:url("check_pwd")}', {'oldPwd': oldPwd}, function (data) {
                    if (data.code == 0) {
                        layer.msg(data.msg);
                        if (checkflag) {
                            $('.layui-btn').addClass('layui-btn-disabled');
                        }
                        return;
                    }
                    checkflag = true;
                    if (conflag) {
                        $('.layui-btn').removeClass('layui-btn-disabled');
                    }
                }, 'json')
            }
        })
        $('#confirmPwd , #password').blur(function () {
            var password = $('#password').val();
            var confirmPwd = $('#confirmPwd').val();
            if ($.trim(password) != '' && $.trim(confirmPwd) != '') {
                if (password != confirmPwd) {
                    layer.msg('两次密码不同，请重新输入');
                    if (conflag) {
                        $('.layui-btn').addClass('layui-btn-disabled');
                    }
                    return;
                }
                conflag = true;
                if (checkflag) {
                    $('.layui-btn').removeClass('layui-btn-disabled');
                }
            }
        })
        $('.layui-btn').click(function () {
            if (conflag && checkflag) {
                var oldPwd = $('#oldPwd').val();
                var password = $('#password').val();
                $.post('{:url("pas")}', {'password': password, 'oldPwd': oldPwd}, function (data) {

                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            offset: ['50%'],
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            alert('登录链接');
                        });
                    } else {
                        layer.msg(data.msg);
                    }
                }, 'json')
            } else {
                location.reload();
            }
        })
    })
</script>
{/block}