{extend name='admin@public/content'}
{block name="button"}
<!--{if auth("$classuri/add")}-->
<button data-modal='{:url("$classuri/add")}' data-title="添加团课"
    class='layui-btn layui-btn-sm layui-btn-primary'>添加团课</button>
{/block}

{block name="content"}
<table id="table" lay-filter="table"></table>
{/block}
{block name="script"}
<script>
    $(function () {
        $.layuitable('table');
        laydate.render({ range: true, elem: '#expire_time' });
    })
    table.render({
        elem: '#table',
        url: '{:url("$classuri/get_lists")}', //数据接口 
        page: true, //开启分页
        toolbar: '<div>团课列表</div>',
        loading: true,
        title: '团课列表',
        cols: [[//表头
            { title: '序号', fixed: 'left', type: 'numbers' },
            { field: 'id', title: 'ID' },
            { field: 'name', title: '团课名称' },
            {
                fixed: 'right', title: '操作', width: '30%', align: 'center', toolbar: '#courseHandle'
            }
        ]],
        parseData: function (res) { //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
                "count": res.count, //解析数据长度
                "data": res.data //解析数据列表
            };
        }
    }
    );

</script>
<script type="text/html" id="courseHandle">

    <!--{if auth("$classuri/edit")}-->
    <a class="layui-btn layui-btn-xs" data-action="{:url('edit')}" data-field="cid" data-title="编辑产品" lay-event="open">编辑</a>
    <!--{/if}-->
    <!--{if auth("$classuri/del")}-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-action="{:url('del')}" data-field="cid" lay-event="del">删除</a>
    <!--{/if}-->
</script>

{/block}