{extend name='admin@public/content'}
{block name="content"}

<div class="layui-row">
    <div class="layui-col-xs12 layui-col-md6">
        <div class="grid-demo grid-demo-bg1" style="height: 500px" id="fans"></div>
    </div>
    <div class="layui-col-xs12 layui-col-md6">
        <div class="grid-demo grid-demo-bg1" style="height: 500px" id="main1"></div>
    </div>

</div>
{/block}
{block name="script"}
<script>

//    $(function () {
//        require(['echarts'], function () {
    // 基于准备好的dom，初始化echarts实例
    var fans = echarts.init(document.getElementById('fans'));
    $.post('{:url("/admin/api/data_api")}', function (data) {

        // 粉丝图标
        var fans_option = {
            title: {
                text: '关注人数',
                link: 'http://baidu.com',
                target: 'blank'
            },
            tooltip: {},
            xAxis: {
                data: data.fans.xAxis
            },
            yAxis: {},
            series: [{
                    name: '关注人数',
                    type: 'line',
                    data: data.fans.series
                }]
        };
        fans.setOption(fans_option);

    }, 'json')
    fans.on('click', function (a) {
    })

</script>
{/block}