{extend name='admin@public/content'}
{block name="content"}

<div class="layui-row">
    <div class="layui-col-xs12 layui-col-md6">
        <div class="grid-demo grid-demo-bg1" style="height: 500px" id="fans"></div>
    </div>
    <div class="layui-col-xs12 layui-col-md6">
        <div class="grid-demo grid-demo-bg1" style="height: 500px" id="main1"></div>
    </div>

</div>
{/block}
{block name="script"}
<script>

    //    $(function () {
    //        require(['echarts'], function () {
    // 基于准备好的dom，初始化echarts实例
    var fans = echarts.init(document.getElementById('fans'));
    $.post('{:url("/admin/api/fans_api")}', function (data) {

        // 粉丝图标
        var fans_option = {
            title: {
                text: '关注人数',
                target: 'blank'
            },
            tooltip: {},
            xAxis: {
                data: data.fans.xAxis
            },
            yAxis: {},
            series: [{
                name: '关注人数',
                type: 'line',
                data: data.fans.series
            }]
        };
        fans.setOption(fans_option);

    }, 'json')
    fans.on('click', function (a) {
    })

</script>
<script>
    $.post('{:url("/admin/api/time_api")}', function (data) {
        var main1 = echarts.init(document.getElementById('main1'));
        option = {
            title: {
                text: '系统访问统计',
                subtext: '每小时统计，没有则不统计',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                type: 'scroll',
                orient: 'vertical',
                right: 10,
                top: 20,
                bottom: 20,
                data: data.legendData,

                selected: data.selected
            },
            series: [
                {
                    name: '时间',
                    type: 'pie',
                    radius: '55%',
                    center: ['40%', '50%'],
                    data: data,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        main1.setOption(option);
    }, 'json');

</script>
{/block}