{extend name='admin@public/content'}
{block name="button"}
<button data-modal='' data-title="我的主页" class='layui-btn layui-btn-sm layui-btn-primary'>我的主页</button>
{/block}
{block name="content"}

<div class="layui-fluid layadmin-cmdlist-fluid">
    <div class="layui-row layui-col-space30">
        <div class="layui-col-md2 layui-col-sm4">
            <img style="width: 100% ;" src="https://www.layui.com/admin/pro/dist/style/res/template/portrait.png">
            <p style="text-align: center">模板一</p>
        </div>
    </div>
</div>
{/block}