{extend name='admin@public/content'}

{block name="content"}
<form autocomplete="off" class="layui-form layui-form-pane form-search" onsubmit="return false" method="get">
    <!-- 表单搜索 开始 -->
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">课程类型</label>
        <div class="layui-input-inline">
            <select name="type">
                <option value="0">请选择课程类型</option>
                <option value="1">私教</option>
                <option value="2">团课</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">课程名称</label>
        <div class="layui-input-inline">
            <input name="course_name" value="" placeholder="请输入课程名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">教练名称</label>
        <div class="layui-input-inline">
            <input name="coach_name" value="" placeholder="请输入教练名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">上课时间</label>
        <div class="layui-input-inline">
            <input name="expire_time" id="expire_time" value="" placeholder="请选择上课时间" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary" lay-filter="search" lay-submit><i class="layui-icon">&#xe615;</i>
            搜 索</button>
    </div>
</form>
<table id="Table" lay-filter="Table"></table>
{/block}
{block name="script"}
<script>
    $(function () {
        window.form.render();
        $.layuitable('Table');
        laydate.render({ range: true, elem: '#expire_time' });
        $('body').off('mouseenter', '.end_time_show').on('mouseenter', '.end_time_show', function () {
            var that = this;
            var mid = $(this).attr('data-itemid');
            $.post('{:url("get_member_times")}', { 'mid': mid }, function (data) {
                if (data.data.length != 0) {
                    var tipsHtml = '到期时间：<br />';
                    for (var i = 0; i < data.data.length; i++) {
                        tipsHtml += data.data[i].begin_time_show + ' - ' + data.data[i].end_time_show + '<br />';
                    }
                    layer.tips(tipsHtml, that);
                }
            }, 'json')

        })
    })
    var tableShow = table.render({
        elem: '#Table',
        url: '{:url("$classuri/get_lists")}', //数据接口 
        page: true, //开启分页
        toolbar: '<div>课程列表</div>',
        loading: true,
        title: '课程列表',
        cols: [[//表头
            { title: '序号', fixed: 'left', type: 'numbers' },
            {
                title: '课程类型', templet: function (d) {
                    return d.type == 1 ? '私教' : '团课' + '-' + d.course.name;
                }
            },
            {
                title: '上课日期', templet: function (d) {
                    return d.class_at.substr(0, 10);
                }
            },
            {
                title: '上课时间', templet: function (d) {
                    return d.begin_at.substr(10) + ' - ' + d.end_at.substr(10);
                }
            },
            { title: '教练名称', templet: '<div>{{d.coach.name}}</div>' },
            {
                fixed: 'right', title: '详情', width: '10%', align: 'center', templet: function (d) {
                    if (d.type == 1) {
                        return '<a data-modal=\'{:url("$classuri/classPeople")}?class_id=' + d.id + '\' data-title="上课会员">上课会员</a>';
                    } else {
                        return '<a data-modal=\'{:url("$classuri/classNumber")}?class_id=' + d.id + '\' data-title="上课人数">上课人数</a>';
                    }
                }
            },
            {
                fixed: 'right', title: '操作', width: '20%', align: 'center', toolbar: '#Handle'
            }
        ]],
        parseData: function (res) { //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
                "count": res.count, //解析数据长度
                "data": res.data //解析数据列表
            };
        }
    }
    );
    //搜索按钮绑定事件
    var curr = 1;
    form.on('submit(search)', function () {
        var type = $('select[name="type"]').val();
        var course_name = $('input[name="course_name"]').val();
        var coach_name = $('input[name="coach_name"]').val();
        var expire_time = $('input[name="expire_time"]').val();
        table.reload('Table', {
            where: {
                type: type,
                course_name: course_name,
                coach_name: coach_name,
                expire_time: expire_time
            },
            page: { curr: curr }
        })
        curr = 1;
    })
</script>
<script type="text/html" id="Handle">
    <!--{if auth("$classuri/confirm")}-->
    {{#if(d.commission != null && d.commission.status == 1 ){}}
    <a class="layui-btn layui-btn-xs" data-action="{:url('expense/confirm')}" data-field="cid" data-title="查看信息" lay-event="open">查看信息</a>
    {{#}else if(d.commission == null){}}
    {{#if(d.type == 1 ){ }}
        <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('classPeople')}" data-field="class_id" data-title="设置信息" lay-event="open">设置信息</a>
    {{#}else{}}
        <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('classNumber')}" data-field="class_id" data-title="设置信息" lay-event="open">设置信息</a>
    {{# }}}
    
    {{#}else if( d.commission.status == 0){ }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" data-action="{:url('expense/confirm')}" data-field="cid" data-title="确认信息" lay-event="open">确认信息</a>
    {{# }}}
     <!--{/if}-->
</script>
{/block}