{extend name='admin@public/content'}
{block name="button"}
<!--{if auth("$classuri/upload")}-->
<button data-modal='{:url("$classuri/upload")}' data-title="上传课程日程"
    class='layui-btn layui-btn-sm layui-btn-primary'>上传课程日程</button>
<!-- {/if} -->
<!--{if auth("$classuri/addGroup")}-->
<button data-modal='{:url("$classuri/addGroup")}' data-title="添加团课"
    class='layui-btn layui-btn-sm layui-btn-primary'>添加团课</button>
<!-- {/if} -->
<!--{if auth("$classuri/addPrivate")}-->
<button data-modal='{:url("$classuri/addPrivate")}' data-title="添加私教"
    class='layui-btn layui-btn-sm layui-btn-primary'>添加私教</button>
<!-- {/if} -->
<!--{if auth("$classuri/addOther")}-->
<button data-modal='{:url("$classuri/addOther")}' data-title="添加提醒"
    class='layui-btn layui-btn-sm layui-btn-primary'>添加提醒</button>
<!-- {/if} -->
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<!-- <form autocomplete="off" class="layui-form layui-form-pane form-search" action="{:request()->url()}"
    onsubmit="return false" method="get">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">搜索时间</label>
        <div class="layui-input-inline">
            <input name="search_time" id="search_time" value="{$Think.get.search_time}" placeholder="请选择到期时间"
                class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">计划名称</label>
        <div class="layui-input-inline">
            <input name="name" value="{$Think.get.name}" placeholder="请输入计划名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary" id="search" lay-submit><i class="layui-icon">&#xe615;</i>
            搜 索</button>
    </div>
</form> -->
<div id="calendar">

</div>

{/block}
{block name="script"}

<script>
    $(function () {
        laydate.render({ elem: '#search_time' });

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid', 'timeGrid'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            locale: "zh-cn",
            buttonText: {
                today: '今天',
                month: '月',
                week: '周',
                day: '日',
            },

            eventLimit: true,
            contentHeight: 1300,
            view: {
                dayGridMonth: {
                    eventLimit: 2,
                },
            },
            // dateClick: function (info) {
            //     addClass()
            //     console.log('Date: ' + info.dateStr);
            //     console.log(info)
            //     calendar.addEvent({
            //         title: '测试2',
            //         start: '2019-04-17 09:00:00',
            //         end: ''
            //     });
            // },
            eventClick: function (info) {
                var class_id = info.event.extendedProps.class_id;
                var class_type = info.event.extendedProps.class_type;
                if (class_type == 2) {
                    $.form.modal("{:url('editGroup')}?class_id=" + class_id, '', '编辑团课')
                } else if (class_type == 1) {
                    $.form.modal("{:url('editPrivate')}?class_id=" + class_id, '', '编辑私教')
                } else if (class_type == 3) {
                    $.form.modal("{:url('editOther')}?class_id=" + class_id, '', '编辑日程')
                }
            },
            events: function (fetchInfo, successCallback, failureCallback) {
                // var date = this.getDate().format('YYYY-MM');
                var endStr = fetchInfo.endStr;
                var startStr = fetchInfo.startStr;
                $.ajax({
                    url: "{:url('get_calendar_lists')}",
                    dataType: 'json',
                    type: 'POST',
                    data: {
                        endStr: endStr,
                        startStr: startStr,
                    },
                    success: function (json) { // 获取当前月的数据
                        console.log(json)
                        var events = [];
                        $.each(json, function (i, c) {
                            if (c.type == 1) {
                                var member_name = '';
                                if (c.member_name != null && c.member_name != '') {
                                    member_name = '\n' + '预计会员：' + c.member_name;
                                }
                                var color = '#ff0099';
                                var title = '\n 教练：' + c.coach.name + '\n' + '时间：' + c.begin_at.substr(10) + '-' + c.end_at.substr(10) + member_name;
                            } else if (c.type == 2) {
                                var color = '#6600ff';
                                var title = '\n 教练：' + c.coach.name + ' \n ' + '团课：' + c.course.name + '\n' + '时间：' + c.begin_at.substr(10) + '-' + c.end_at.substr(10);
                            } else if (c.type == 3) {
                                var color = '#cc9999';
                                var title = '\n 教练：' + c.coach.name + ' \n ' + '时间：' + c.begin_at.substr(10) + '-' + c.end_at.substr(10) + ' \n ' + '备注：' + c.classesOther.remark;
                            }
                            events.push({
                                title: title,
                                class_id: c.id,
                                class_type: c.type,
                                start: c.begin_at, // will be parsed
                                color: color
                            });
                        });
                        successCallback(events);
                    }
                });
            }
        });

        calendar.render();
    })

</script>
{/block}