{extend  name="public:main"}
{block name="main"}
<!--tc_box 开始-->
<div class="tc_box">

    <ul>
        {volist name="lists" id="list"}
        <li>
            <p class="ptit">{$list.lname} - {$list.class_time_show}</p>
            <p class="font-tit">{$list.name}</p>
            {if $list.state == 0}
            <div class="bstx"><i class="layui-icon red">&#x1007;</i>
                <span class="font">{$list.message}</span>
                <span class="font">
                    <div class="cover_video">
                        <video src="https://d2pepuqj211rn4.cloudfront.net/5f3025ec-d145-41d6-8a67-cffc488258a6/BBCBC5BF5AA94B2985AC7CD02A5A3F7E.MOV/output.mp4" controls="controls"></video>
                    </div>
                    <!--                            <div class="Download"><i class="layui-icon">&#xe681;</i><a href="https://d2pepuqj211rn4.cloudfront.net/5f3025ec-d145-41d6-8a67-cffc488258a6/BBCBC5BF5AA94B2985AC7CD02A5A3F7E.MOV/output.mp4">Download</a></div>-->
                </span>
            </div>
            {else /}
            <div class="bstx"><i class="layui-icon green">&#x1005;</i>
                <span class="font">{$list.message}</span>
                <span class="font">
                    <div class="cover_video">
                        <video src="https://d2pepuqj211rn4.cloudfront.net/5f3025ec-d145-41d6-8a67-cffc488258a6/BBCBC5BF5AA94B2985AC7CD02A5A3F7E.MOV/output.mp4" controls="controls"></video>
                    </div>
                    <!--                            <div class="Download"><i class="layui-icon">&#xe681;</i><a href="https://d2pepuqj211rn4.cloudfront.net/5f3025ec-d145-41d6-8a67-cffc488258a6/BBCBC5BF5AA94B2985AC7CD02A5A3F7E.MOV/output.mp4">Download</a></div>-->
                </span>
            </div>
            {/if}

            <a href="javascript:;" itemid="{$list.lid}" class="jamp_a historyview">View workout</a>
        </li>
        {/volist}



    </ul>
</div>
<!--tc_box 结束-->
{/block}
{block name="script"}
<script type="text/javascript">
    $(function () {
        $('.historyview').click(function () {
            var id = $(this).attr('itemid');
            parent.location.href = '{:url("detile")}?id=' + id
        })
        //导航点击相应的div显示 开始
        $(".video_list_top").click(function () {
            if ($(this).siblings('.video_show_div').is(":hidden")) {
                $(this).siblings('.video_show_div').show();
            } else {
                $(this).siblings('.video_show_div').hide()
            }
        });
        //导航点击相应的div显示 结束
    })
</script>
{/block}