<!doctype html>
<html>
    <head>
        <title>{:sysconf('site_name')} 登录页</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- font files  -->
        <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="__STATIC__/plugs/layui/css/layui.css?v={:date('ymd')}" >
        <!-- /font files  -->
        <!-- css files -->
        <link href="__STATIC__/index/css/login.css" rel='stylesheet' type='text/css' media="all" />
        <!-- /css files -->
        <script type="text/javascript" src="__STATIC__/plugs/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="__STATIC__/plugs/layui/layui.js"></script>
    </head>
    <body>
        <h1>{:sysconf('site_name')}</h1>
        <div class="log">
            <div class="content1">
                <form>
                    <input type="text" name="username" value="" placeholder="请输入用户名" >
                    <input type="password" name="password" value="" placeholder="请输入密码">
                    <div class="button-row">
                        <input type="button" class="sign-in" onclick="login()" value="登录">
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
            <div class="clear"></div>
        </div>
        <div class="bottom">
            <a href="http://www.miitbeian.gov.cn/" target="_blank">
                <i></i>
                苏ICP备18068981号
            </a>
        </div>
    </body>

    <script>
        $(function () {
            layui.use(['layer'], function () {
                var layer = layui.layer;
            })
        })
        function login() {
            var username = $('input[name="username"]').val();
            var password = $('input[name="password"]').val();
            if ($.trim(username) == '' || $.trim(password) == '') {
                layer.msg('请完整输入');
                return;
            }
            $.post('{:url("login")}', {'username': username, 'password': password}, function (data) {
                if (data.code == 1) {
                    location.href = data.url;
                } else {
                    layer.msg(data.msg)
                }
            }, 'json');
        }

    </script>

</html>