{extend name='admin@public/content'}
{block name="button"}
<!--{if auth("$classuri/add")}-->
<button data-modal='{:url("$classuri/add")}?mid={$mid}' data-title="添加订单"
    class='layui-btn layui-btn-sm layui-btn-primary'>添加订单</button>
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
{if !isset($mid)}
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">会员名称</label>
    <div class="layui-input-inline">
        <input name="member_name" value="" placeholder="会员名称" class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">教练名称</label>
    <div class="layui-input-inline">
        <input name="coach_name" value="" placeholder="教练名称" class="layui-input">
    </div>
</div>
{/if}
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">项目名称</label>
    <div class="layui-input-inline">
        <input name="product_name" value="" placeholder="项目名称" class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">添加时间</label>
    <div class="layui-input-inline">
        <input name="create_expire_time" id="create_expire_time" value="" placeholder="请选择添加时间" class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">结束时间</label>
    <div class="layui-input-inline">
        <input name="end_expire_time" id="end_expire_time" value="" placeholder="请选择结束时间" class="layui-input">
    </div>
</div>
{if isset($mid)}<input type='hidden' value='{$mid}' name='mid' id="mid">{/if}
<div class="layui-form-item layui-inline">
    <button class="layui-btn layui-btn-primary" lay-filter="search" lay-submit><i class="layui-icon">&#xe615;</i>
        搜 索</button>
</div>
<table id="Table" lay-filter="Table"></table>
{/block}
{block name="script"}
<script>
    $(function () {
        $.layuitable('Table');
        laydate.render({ range: true, elem: '#create_expire_time' });
        laydate.render({ range: true, elem: '#end_expire_time' });
    })
    var mid = $('#mid').val() | 0;
    var tableShow = table.render({
        elem: '#Table',
        url: '{:url("$classuri/get_lists")}', //数据接口 
        page: true, //开启分页
        toolbar: '<div>订单列表</div>',
        loading: true,
        totalRow: true,
        title: '订单列表',
        where: { 'mid': mid },
        cols: [[//表头
            { title: '序号', fixed: 'left', type: 'numbers', totalRowText: '合计' },
            { field: 'mname', title: '会员名称' },
            { field: 'cname', title: '教练名称' },
            { field: 'pname', title: '项目名称' },
            { field: 'pprice', title: '项目价格', totalRow: true },
            { field: 'create_at', field: 'create_at', title: '添加时间' },
            {
                title: '开始时间', templet: function (d) {
                    return '<div>' + d.begin_at.substr(0, 10) + '</div>';
                }
            },
            {
                title: '结束时间', templet: function (d) {
                    return '<div>' + d.end_at.substr(0, 10) + '</div>';
                }
            },
            {
                title: '订单状态', templet: function (d) {
                    if (d.pay_status == 1) {
                        return '<div>已支付</div>';
                    } else {
                        return '<div>未支付</div>';
                    }

                }
            }, {
                title: '已上课时/总课时', templet: function (d) {
                    return '<div>' + d.number + '/' + d.count + '</div>';

                }
            },
            {
                fixed: 'right', title: '操作', width: '10%', align: 'center', toolbar: '#Handle'
            }
        ]],
        parseData: function (res) { //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
                "count": res.count, //解析数据长度
                "data": res.data //解析数据列表
            };
        }
    }
    );
    //搜索按钮绑定事件
    var curr = 1;
    form.on('submit(search)', function () {
        var mid = $('input[name="mid"]').val();
        var member_name = $('input[name="member_name"]').val();
        var coach_name = $('input[name="coach_name"]').val();
        var product_name = $('input[name="product_name"]').val();
        var create_expire_time = $('input[name="create_expire_time"]').val();
        var end_expire_time = $('input[name="end_expire_time"]').val();
        table.reload('Table', {
            where: {
                mid: mid,
                member_name: member_name,
                coach_name: coach_name,
                product_name: product_name,
                create_expire_time: create_expire_time,
                end_expire_time: end_expire_time
            },
            page: { curr: curr }
        })
        curr = 1;
    })
</script>
<script type="text/html" id="Handle">
    <!--{if auth("$classuri/edit")}-->
<a class="layui-btn layui-btn-danger layui-btn-xs" data-action="{:url('edit')}" data-field="oid" lay-event="open">编辑</a>
<!--{/if}-->
<!--{if auth("$classuri/del")}-->
<a class="layui-btn layui-btn-danger layui-btn-xs" data-action="{:url('del')}" data-field="oid" lay-event="del">删除</a>
<!--{/if}-->
</script>

{/block}