<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>{:sysconf('app_name')} {:sysconf('app_version')}</title>
    <meta charset="utf-8">
    <link rel="icon" href="../image/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <link href="__STATIC__/plugs/layui/css/layui.css?v={:date('ymd')}" rel="stylesheet">
    <!-- <script type="text/javascript" src="__STATIC__/plugs/jquery/jquery.min.js"></script> -->
    <script src="__STATIC__/plugs/layui/layui.all.js"></script>

<body>
    <div class="layui-tab layui-tab-card">
        <div class="layui-form" style="padding: 20px 0 0 0;">
            <div class="layui-upload-drag" id="uploadFile">
                <i class="layui-icon"></i>
                <p>点击上传</p>
            </div>
            <input type="file" name="file"
                id="layui-upload-file" style="display:none">
            <div class="">
                <ul id="imgZmList"></ul>
            </div>
        </div>

    </div>
</body>

<script>
    layui.use(['jquery'], function () {
        var layer = layui.layer;
        var $ = jquery = layui.$;
        $('#uploadFile').click(function () {
            $('#layui-upload-file').trigger('click');
        })
        $(document).on('change', '#layui-upload-file', function () {
            var fileObj = $(this)[0].files[0]
            var formFile = new FormData();
            formFile.append("action", "/admin/plugs/uploadMobile");
            formFile.append("file", fileObj); //加入文件对象
            formFile.append("token", '{$info.token}'); //加入TOKEN 验证
            formFile.append("filetype", '{$info.filetype}'); //加入类型 验证
            var data = formFile;
            $.ajax({
                url: "/admin/plugs/uploadMobile",
                data: data,
                type: "Post",
                dataType: "json",
                cache: false,//上传文件无需缓存
                processData: false,//用于对data参数进行序列化处理 这里必须false
                contentType: false, //必须
                success: function (result) {
                    if (result.code == 'SUCCESS') {
                        parent.$('input[name="{$info.field}"]').val(result.data.site_url).trigger('change')

                    } else if (result.code == 'ERROR') {
                        layer.msg(result.msg)
                    } else {
                        layer.msg('上传失败，请重新上传')
                    }
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭 

                },
                error: function () {
                    layer.msg('上传失败，请重新上传', function () {
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭 
                    });
                }
            })
        })
    })
</script>

</html>