<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>{:sysconf('app_name')} {:sysconf('app_version')}</title>
    <meta charset="utf-8">
    <link rel="icon" href="../image/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <link href="__STATIC__/plugs/layui/css/layui.css?v={:date('ymd')}" rel="stylesheet">
    <script type="text/javascript" src="__STATIC__/plugs/jquery/jquery.min.js"></script>

<body>
    <div class="layui-tab layui-tab-card">
        <div class="layui-form" style="padding: 20px 0 0 0;">
            <div class="layui-upload-drag" id="uploadFile">
                <i class="layui-icon"></i>
                <p>点击上传</p>
            </div>
            <form id="layui-upload" method="post" action="/admin/plugs/uploadtest" enctype="multipart/form-data">
                <input type="file" name="file" id="layui-upload-file" style="display:none">
                <input type="hidden" name="filetype" value="{$info.types}">
                {:token()}
            </form>

            <div class="">
                <ul id="imgZmList"></ul>
            </div>
        </div>
        <button class="layui-btn" onclick="$('#layui-upload').submit()">开始上传</button>

    </div>
</body>

<script>
    $(function () {
        $('#uploadFile').click(function () {
            $('#layui-upload-file').trigger('click');
        })
        $(document).on('change', '#layui-upload-file', function () {

        })

    })
</script>

</html>