{extend name='admin@public/content'}

{block name="content"}

<!-- 表单搜索 开始 -->
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">教练名称</label>
    <div class="layui-input-inline">
        <input name="name" value="" placeholder="请输入教练名称" class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-inline">
    <button class="layui-btn layui-btn-primary" lay-filter="coach_search" lay-submit><i class="layui-icon">&#xe615;</i>
        搜 索</button>
</div>
<table id="coachTable" lay-filter="coachTable"></table>
{/block}
{block name="script"}
<script>
    $(function () {
        $.layuitable('coachTable');
    })
    var tableShow = table.render({
        elem: '#coachTable',

        url: '{:url("$classuri/get_lists")}', //数据接口 
        page: true, //开启分页
        toolbar: '<div>教练列表</div>',
        loading: true,
        title: '会员列表',
        cols: [[//表头
            { title: '序号', fixed: 'left', type: 'numbers' },
            { field: 'name', title: '教练名称' },
            { title: '所属账号', templet: '<div>{{ d.system_user.username}}</div>' },
            { field: 'phone', title: '手机号码' },
            { fixed: 'right', title: '操作', width: '30%', align: 'center', toolbar: '#coachhandle' }
        ]],
        parseData: function (res) { //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
                "count": res.count, //解析数据长度
                "data": res.data //解析数据列表
            };
        }
    });
    //搜索按钮绑定事件
    var curr = 1;
    form.on('submit(coach_search)', function () {
        var name = $('input[name="name"]').val();
        table.reload('coachTable', {
            where: {
                name: name,
            },
            page: { curr: curr }
        })
        curr = 1;
    })
</script>
<script type="text/html" id="coachhandle">
     <!--{if auth("pt/expense/course")}-->
     <a class="layui-btn layui-btn-danger layui-btn-xs" data-action="{:url('pt/expense/course')}" data-title="团课分成" lay-event="href">团课分成</a>
     <!--{/if}-->
      <!--{if auth("pt/expense/product")}-->
      <a class="layui-btn layui-btn-danger layui-btn-xs" data-action="{:url('pt/expense/product')}" data-title="私教分成" lay-event="href">私教分成</a>
      <!--{/if}-->
</script>
{/block}