{extend name="public:main"}
{block name="main"}
<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<!--main 开始-->
<div class='main infor '>
    <div class="infor_in">
        <h3>课程确认</h3>
        <!--infor_r 开始-->
        <div class="infor_r">
            <!-- infor_r_top 开始 -->
            <div class="infor_r_top">
                <div class="infor_r_top_l">
                    <div class="lablediv">
                        <label>
                            <span>课程类型</span>
                            <p>{$list.type_text}</p>
                        </label>
                    </div>
                    {if $list.type == 2 }
                    <div class="lablediv">
                        <label>
                            <span>课程名称</span>
                            <p>{$list.course.name}</p>
                        </label>
                    </div>
                    {/if}
                    <div class="lablediv">
                        <label>
                            <span>课程教练</span>
                            <p>{$list.coach.name}</p>
                        </label>
                    </div>

                    <div class="lablediv">
                        <label>
                            <span>开始时间</span>
                            <p>{$list.begin_at}</p>
                        </label>
                    </div>
                    <div class="lablediv">
                        <label>
                            <span>结束时间</span>
                            <p>{$list.end_at}</p>
                        </label>
                    </div>
                    {if !empty($list.classesPrivate.is_affirm )}
                    <div class="lablediv">
                        <label>
                            <span>确认时间</span>
                            <p>{$list.classesPrivate.affirm_at}</p>
                        </label>
                    </div>
                    {/if}
                </div>
            </div>
            <div id="position">
                <p style="color: red">请先打开定位并且允许获取地理位置</p>
            </div>

            <!-- infor_r_top 结束 -->
        </div>
        <input name="id" value="{$list.id|default=0}" />
        <!--infor_r 结束-->
        {if empty($list.classesPrivate.is_affirm)}
        <div class="infor_r_bot">
            <button class="layui-btn margin20 layui-btn-normal layui-btn-disabled">确认上课</button>
        </div>
        {else /}
        <div class="infor_r_bot">
            <button class="layui-btn margin20 layui-btn-normal layui-btn-disabled">该课程已确认</button>
        </div>
        {/if}
    </div>
</div>
<!--main 结束-->
{/block}
{block name="script"}
<script type="text/javascript">
    var position = '1000米';
    var distance = '1000米';
    $(function () {
        layui.use(['layer'], function () {
            var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
            var layer = layui.layer;
            var id = $('input[name="id"]').val();
            $.get('{:url("getJsSign")}', { 'id': id }, function (res) {
                wx.config(res);
            }, 'json')
        });
        $(document).on('click', '.affirm', function () {
            var id = $('input[name="id"]').val();
            $.post('{:url("affirm_info")}', { 'id': id }, function (res) {

            })
        })
    })
    wx.ready(function () {
        wx.getLocation({
            type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
            success: function (res) {
                var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                $('#latitude').html(latitude);
                $('#longitude').html(longitude);
                $.post('{:url("getDistance")}', { 'latitude': latitude, 'longitude': longitude }, function (res) {
                    if (res.code == 1) {
                        position = res.data.position;
                        distance = res.data.distance;
                        if (distance > position) {
                            $('.layui-btn').removeClass('layui-btn-disabled').addClass('affirm');
                        }
                        $('#position').html(" <p>签到距离" + distance + "米</p> <p>距离场馆" + position + "米</p>");
                    } else {
                        layer.msg(res.msg)
                    }
                }, 'json')
            }
        });
    });
</script>
{/block}