{extend name="public:main"}
{block name="main"}
<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<p id="latitude"></p>
<p id="longitude"></p>
<p id="position"></p>
<p id="distance"></p>
{/block}
{block name="script" }
<script>
    var position;
    var distance;
    $(function () {
        layui.use(['layer'], function () {
            var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
            var layer = layui.layer;
            $.get('{:url("getJsSign")}', function (res) {
                console.log(res)
                wx.config(res);
            }, 'json')

        });
    })
    wx.ready(function () {
        wx.getLocation({
            type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
            success: function (res) {
                var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                $('#latitude').html(latitude);
                $('#longitude').html(longitude);
                $.post('{:url("getDistance")}', { 'latitude': latitude, 'longitude': longitude }, function (res) {
                    if (res.code == 1) {
                        position = res.data.position;
                        distance = res.data.distance;
                        $('#position').html(position);
                        $('#distance').html(distance);
                    } else {
                        layer.msg(res.msg)
                    }
                }, 'json')
            }
        });
    });
</script>
{/block}