{extend name="public:main"}
{block name="main"}
<link rel="stylesheet" href="__STATIC__/plugs/iosSelec/iosSelect.css?v={:date('his')}" type="text/css" />
<script type="text/javascript" src="__STATIC__/plugs/iosSelec/iosSelect.js?v={:date('his')}"></script>
<style type="text/css">
    .class_begin,
    .class_end {
        cursor: pointer;
    }
</style>
<!--choose_nav  开始-->
<!-- <div class="choose_nav">
    <div class="choose_nav_c width">
        <span style="color:#ffffff;font-size: 15px">课程列表</span>
    </div>
</div> -->
<!--choose_nav  开始-->
<div class="choose_nav">
    <div class="choose_nav_c width">
        <div class="choose_nav_c_span">
            <span class=' {eq name=' $type' value='upcomming' }span_cur{/eq}'> <a href="{:url('')}">upcomming
                </a></span>
            <span class=' {eq name=' $type' value='past' }span_cur{/eq}'> <a href="{:url('')}?type=past">past
                </a></span>
        </div>

        <!--        <div class="R"><img src="__STATIC__/index/images/icon_w.png" alt="">History</div>-->

    </div>
</div>
<!--main 开始-->
<div class='main  index width'>
    <ol id="classes">

    </ol>
</div>
{/block}
{block name="script"}
<script>
    $(function () {
        layui.use(['layer', 'flow', 'laytpl'], function () {

            var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
            var flow = layui.flow;
            var laytpl = layui.laytpl;
            var layer = layui.layer;
            flow.load({
                elem: '#classes', //指定列表容器
                end: '没有更多了...',
                done: function (page, next) { //到达临界点（默认滚动触发），触发下一页
                    var lis = [];
                    //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                    $.get('{:url("/index/classes/indexAjax")}?page=' + page + '&type={$type}', function (res) {
                        lis.push(res.data);
                        next(lis.join(''), page < res.pages);
                    }, 'json');
                }
            });
        });

        $(document).on('click', '.class_begin', function () {
            var class_id = $(this).attr('itemid');
            $.post('{:url("get_members")}', { 'class_id': class_id }, function (res) {
                if (res.length == 0) {
                    layer.msg('暂无会员可预约');
                    return false;
                }
                var member = [];
                for (var i = 0; i < res.length; i++) {
                    var member_obj = {};
                    member_obj.id = res[i].id;
                    member_obj.value = res[i].name;
                    member.push(member_obj);
                }

                var bankSelect = new IosSelect(1,
                    [member],
                    {
                        container: '.container',
                        title: '选择会员',
                        itemHeight: 50,
                        itemShowCount: 3,
                        callback: function (selectOneObj) {
                            var select_value = selectOneObj.value;
                            var select_id = selectOneObj.id;
                            layer.confirm('确定' + select_value + '？', function () {
                                $.post('{:url("begin")}', { 'member_id': select_id, 'class_id': class_id }, function (data) {
                                    if (data.code == 1) {
                                        layer.msg(data.msg, function () {
                                            location.reload();
                                        });

                                    } else {
                                        layer.msg(data.msg);
                                    }
                                })
                            })
                        }
                    });
            })

        })
        $(document).on('click', '.class_end', function () {
            var class_id = $(this).attr('itemid');
            layer.confirm('确认结束课程', function () {
                $.post('{:url("end")}', { 'class_id': class_id }, function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, function () {
                            location.reload();
                        });
                    } else {
                        layer.msg(data.msg);
                    }
                })
            })
        })

    })




</script>
{/block}