{volist name="lists" id="list"}
<link rel="stylesheet" href="__STATIC__/plugs/iosSelec/iosSelect.css?v={:date('his')}" type="text/css" />
<script type="text/javascript" src="__STATIC__/plugs/iosSelec/iosSelect.js?v={:date('his')}"></script>
<script type="text/javascript" src="__STATIC__/plugs/iosSelec/data.js?v={:date('his')}"></script>
<li>
    <a>
        <div class="a_cover">
            <!--文字部分 开始-->
            <div class="font_l">
                <div class="date ">
                    <p class="date-month">{$list.class_at|date="M"}</p>
                    <p class="date-day">{$list.class_at|date="d"}</p>
                </div>
            </div>
            <!--文字部分 结束-->

            <!--其他内容  开始-->
            <div class="bucket-content">
                <!--上面部分 开始-->
                <div class="wallflower">
                    <div class="wallflower-cell">
                        <p class="byline">{$list.begin_at|date="H:i:s"}----{$list.end_at|date="H:i:s"}</p>
                        <h3 class="client-workout-item-header">
                            {if $list.type == 1}
                            私教
                            {else /}
                            {$list.course.name}
                            {/if}
                        </h3>
                        {if $list.type == 1}
                        <!-- 私教开始 -->
                        {if !empty($list.classesPrivate) && !empty($list.classesPrivate.end_at)}
                        <span class="mbs tag is-completed ember-view"><i class="layui-icon">&#x1005;</i> 已完成 </span>
                        {elseif !empty($list.classesPrivate) && empty($list.classesPrivate.end_at) /}
                        <span class="mbs tag is-missed ember-view class_end" itemid="{$list.id}"><i
                                class="layui-icon">&#x1007;</i> 未结束</span>
                        {else /}
                        <span class="mbs tag is-missed ember-view class_begin" itemid="{$list.id}"><i
                                class="layui-icon">&#x1007;</i>
                            未开始</span>
                        {/if}

                        {else /}
                        <!-- 团课开始 -->
                        {if !empty($list.classesGroup)}
                        <span class="mbs tag is-completed ember-view"><i class="layui-icon">&#x1005;</i> 已完成 </span>
                        {else /}
                        <span class="mbs tag is-missed ember-view"><i class="layui-icon">&#x1007;</i> 未完成</span>
                        {/if}

                        {/if}
                    </div>
                </div>
                <!--上面部分 结束-->

                <!--下面部分  开始-->
                <div class="ember">
                    <div class="ember_list">
                        {if $list.type == 1}
                        {if !empty($list.classesPrivate)}
                        会员姓名：{$list.classesPrivate.member.name} <br />
                        开始时间：{$list.classesPrivate.begin_at} <br />
                        结束时间：{$list.classesPrivate.end_at}
                        {/if}
                        {else /}
                        {if !empty($list.classesGroup)}
                        上课人数：{$list.classesGroup.number}人
                        {/if}
                        {/if}

                    </div>
                </div>
                <!--下面部分  结束-->
            </div>
        </div>
        <!--其他内容  结束-->
    </a>
</li>


{/volist}