{extend name="public:main"}
{block name="main"}
<!--choose_nav  开始-->
<div class="choose_nav">
    <div class="choose_nav_c width">
        <span style="color:#ffffff;font-size: 15px">课程列表</span>
    </div>
</div>
<!--main 开始-->
<div class='main  index width'>
    <ol id="classes">

    </ol>
</div>
{/block}
{block name="script"}
<script>
    $(function () {
        layui.use(['flow', 'laytpl'], function () {

            var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
            var flow = layui.flow;
            var laytpl = layui.laytpl;

            flow.load({
                elem: '#classes', //指定列表容器
                end: '没有更多了...',
                done: function (page, next) { //到达临界点（默认滚动触发），触发下一页
                    var lis = [];
                    //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                    $.get('{:url("/index/classes/indexAjax")}?page=' + page, function (res) {
                        lis.push(res.data);
                        next(lis.join(''), page < res.pages);
                    }, 'json');
                }
            });
        });

    })




</script>
{/block}