<form autocomplete="off" class="layui-form layui-box modal-form-box" action="{:url('add')}" data-auto="true"
    method="post">


    <div class="layui-form-item">
        <label class="layui-form-label">产品名称</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="name" required lay-verify="required" value='' maxlength="25"
                minlength="2" title="请输入产品名称" placeholder="请输入产品名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">产品价格</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="price" required lay-verify="required|number" value='' maxlength="11"
                title="请输入产品价格" placeholder="请输入产品价格" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品时长</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="duration" required lay-verify="required|number" value='' maxlength="11"
                title="请输入产品时长" placeholder="请输入产品时长" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品单价</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="unit_price" required lay-verify="required|price" value='' maxlength="11"
                title="请输入产品单价" placeholder="请输入产品单价" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">课程次数</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="number" required lay-verify="required|number" value='' maxlength="11"
                title="请输入课程次数" placeholder="请输入课程次数" class="layui-input">
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>