<!--footer 开始-->
<div class="zhanwei"></div>

<div class="footer">
    <ul>
        <li><a href="javascript:;"><img src="__STATIC__/index/images/icon1.png" alt="">Workouts</a></li>
        <li><a href="javascript:;"><img src="__STATIC__/index/images/icon2.png" alt="">Messages</a></li>
        <li><a href="javascript:;"><img src="__STATIC__/index/images/icon3.png" alt="">Support</a></li>
        <li><a href="profile.html"><img src="__STATIC__/index/images/icon4.png" alt="">Profile</a></li>
    </ul>
</div>
<!--footer 结束-->
<script type="text/javascript" src="__STATIC__/plugs/layui/layui/layui.js"></script>