<!--footer 开始-->
<div class="zhanwei"></div>

<div class="footer">
    <ul>
        <li><a href="/index.html"><img src="__STATIC__/index/images/index.png" alt="">首页</a></li>
        <!--        <li><a href="javascript:;"><img src="__STATIC__/index/images/icon2.png" alt="">Messages</a></li>
                <li><a href="javascript:;"><img src="__STATIC__/index/images/icon3.png" alt="">Support</a></li>-->
        <li><a href="/index/member.html"><img src="__STATIC__/index/images/grzx.png" alt="">个人中心</a></li>
    </ul>
</div>
<!--footer 结束-->
