<!-------------header 开始---------------->
<div class="header_nav">
    <div class="header_cell">
        <a href="index.html" class="logo_img"><img src="__STATIC__/index/images/logo.jpg" alt=""></a>

        <ul>
            <li><a href="javascript:;"><img src="__STATIC__/index/images/icon1.png" alt=""></a></li>
            <li><a href="javascript:;"><img src="__STATIC__/index/images/icon2.png" alt=""></a></li>
            <li><a href="javascript:;"><img src="__STATIC__/index/images/icon3.png" alt=""></a></li>
            <li><a href="/index/member/index.html"><img src="__STATIC__/index/images/icon4.png" alt=""></a></li>
        </ul>
    </div>
</div>
<!-------------header 结束---------------->

