<!-------------header 开始---------------->
<div class="header_nav">
    <div class="header_cell">
        <a href="index.html" class="logo_img"><img src="__STATIC__/index/images/logo.jpg" alt=""></a>

        <ul>
            <li><a href="javascript:;"><img src="__STATIC__/index/images/icon1.png" alt=""></a></li>
            <li><a href="javascript:;"><img src="__STATIC__/index/images/icon2.png" alt=""></a></li>
            <li><a href="javascript:;"><img src="__STATIC__/index/images/icon3.png" alt=""></a></li>
            <li><a href="profile.html"><img src="__STATIC__/index/images/icon4.png" alt=""></a></li>
        </ul>
    </div>
</div>
<!-------------header 结束---------------->

<!--choose_nav  开始-->
<div class="choose_nav">
    <div class="choose_nav_c width">
        <div class="choose_nav_c_span">
            <span class="span_cur">upcomming</span>
            <span>past</span>
        </div>

<!--        <div class="R"><img src="__STATIC__/index/images/icon_w.png" alt="">History</div>-->

    </div>
</div>