<form autocomplete="off" class="layui-form layui-box modal-form-box" action="{:url('addCourse')}" data-auto="true"
    method="post">


    <div class="layui-form-item">
        <label class="layui-form-label">选择团课</label>
        <div class="layui-input-block">
            <select required="" xm-select-search xm-select-search-type="dl" xm-select-direction="down" 
                xm-select="pt_course{:time()}" lay-verify="required" class="layui-select full-width block"
                name="course_id" lay-ignore="">
                <option value=""> - 请选择团课 -</option>
                <!--{volist name="courses" id="course"}-->
                <option value="{$course.id}">{$course.name}</option>
                <!--{/volist}-->
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">人数范围</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="range_num" required lay-verify="required" value='' maxlength="50"
                minlength="2" title="请输入人数范围" placeholder="请输入人数范围" class="layui-input">
                <p class="help-block" style="color: #FF5722;">PS：0-3,4-10,11-50,50-100 ，每个范围之间用逗号隔开，每个范围用扩折号区分上限和下限人数</p>
        </div>
        
    </div>

    <!-- <div class="layui-form-item">
        <label class="layui-form-label">上限人数</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="upper_num" required lay-verify="required|number" value='' maxlength="11"
                title="请输入上限人数" placeholder="请输入上限人数" class="layui-input">
        </div>
    </div> -->
    <div class="layui-form-item">
        <label class="layui-form-label">课程费用</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="expenses" required lay-verify="required" value='' maxlength="50"
                title="请输入课程费用" placeholder="请输入课程费用" class="layui-input">
                <p class="help-block" style="color: #FF5722;">PS：100,200,300,400 对应人数范围费用，每个费用之间用逗号隔开，如人数范围缺少费用则为0</p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">奖励金额</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="award" required lay-verify="required" value='0' maxlength="50"
                title="请输入奖励金额" placeholder="请输入奖励金额" class="layui-input">
                <p class="help-block" style="color: #FF5722;">PS：10,20,30,40 对应人数范围奖励金额，每个金额之间用逗号隔开，如人数范围缺少费用则为0</p>
        </div>
    </div>
   
    {if isset($coach_id)}<input type='hidden' value='{$coach_id}' name='coach_id'>{/if}


    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
<script>
    formSelects.render('pt_course{:time()}');
</script>