<style>
    .layui-form-info {
        width: 150px;
        text-align: center;
    }
</style>
<div class="layui-row">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
        <legend>教练信息</legend>
    </fieldset>
    <div class=" layui-col-md6">
        <label class="layui-form-label">教练名称 ：</label>
        <div class="">
            <label class="layui-form-label">{$list.coach.name}</label>
        </div>
    </div>
</div>
<div class="hr-line-dashed"></div>
<div class="layui-row">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
        <legend>课程信息</legend>
    </fieldset>
    <div class=" layui-col-md6">
        <label class="layui-form-label">课程日期 ：</label>
        <label class="layui-form-label layui-form-info">{$list.class_at|substr=0,10}</label>
    </div>
    <div class=" layui-col-md6">
        <label class="layui-form-label">课程时间 ：</label>
        <label class="layui-form-label layui-form-info">{$list.begin_at|substr=10} - {$list.end_at|substr=10}</label>
    </div>
    <!-- {if $list.type == 1 } -->
    <div class=" layui-col-md6">
        <label class="layui-form-label">会员信息 ：</label>
        <label class="layui-form-label layui-form-info">{$list.classesPrivate.member.name}</label>
    </div>
    <div class=" layui-col-md6">
        <label class="layui-form-label">上课时间 ：</label>
        <label class="layui-form-label layui-form-info">{$list.classesPrivate.create_at}</label>
    </div>
    <!-- {elseif $list.type == 2 /} -->
    <div class=" layui-col-md6">
        <label class="layui-form-label">课程名称 ：</label>
        <label class="layui-form-label layui-form-info">{$list.course.name}</label>
    </div>
    <div class=" layui-col-md6">
        <label class="layui-form-label">上课人数 ：</label>
        <label class="layui-form-label layui-form-info">{$list.classesGroup.number|default=0}</label>
    </div>
    <!-- {/if} -->


</div>
<div class="hr-line-dashed"></div>
<div class="layui-row">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
        <legend>佣金信息</legend>
    </fieldset>
    {if $list.type == 1 }
    {if !empty($list.classesPrivate) }
    <div class=" layui-col-md6">
        <label class="layui-form-label">项目名称 ：</label>
        <div class="">
            <label class="layui-form-label">{$list.classesPrivate.product.name}</label>
        </div>
    </div>
    <div class=" layui-col-md6">
        <label class="layui-form-label">总费用 ：</label>
        <div class="">
            <label class="layui-form-label">{$list.commission.price|default=0}</label>
        </div>
    </div>
    <div class=" layui-col-md6">
        <label class="layui-form-label">私教费用 ：</label>
        <div class="">
            <label class="layui-form-label">{$list.commission.expenses|default=0.00}</label>
        </div>
    </div>
    <div class=" layui-col-md6">
        <label class="layui-form-label">私教奖金 ：</label>
        <div class="">
            <label class="layui-form-label">{$list.commission.award|default=0.00}</label>
        </div>
    </div>
    {/if}
    {elseif $list.type == 2 /}
    {if !empty($list.classesGroup.number) }
    <div class=" layui-col-md6">
        <label class="layui-form-label">课程下限 ：</label>
        <div class="">
            <label class="layui-form-label">{$list.commission.groupExpenses.floor_num}</label>
        </div>
    </div>
    <div class=" layui-col-md6">
        <label class="layui-form-label">课程上限 ：</label>
        <div class="">
            <label class="layui-form-label">{$list.commission.groupExpenses.upper_num}</label>
        </div>
    </div>
    <div class=" layui-col-md6">
        <label class="layui-form-label">课程费用 ：</label>
        <div class="">
            <label class="layui-form-label">{$list.commission.expenses}</label>
        </div>
    </div>
    <div class=" layui-col-md6">
        <label class="layui-form-label">课程奖金 ：</label>
        <div class="">
            <label class="layui-form-label">{$list.commission.award}</label>
        </div>
    </div>

    {/if}
    {/if}

</div>
<div class="hr-line-dashed"></div>
<div class=" layui-form-item text-center">

    {if !empty($list.commission) && $list.commission.status == 0 }
    <button class="layui-btn" data-update="{$list.commission.id}" data-field='status' data-value='1'
        data-action='{:url("$classuri/confirm")}' lay-filter="refund_submit">确认佣金</button>
    {/if}
    <button class="layui-btn layui-btn-danger" type='button' data-close>关闭窗口</button>
</div>