<form autocomplete="off" class="layui-form layui-box modal-form-box" action="{:url('editCourse')}" data-auto="true"
    method="post">


    <div class="layui-form-item">
        <label class="layui-form-label">选择团课</label>
        <div class="layui-input-block">
            <select required="" xm-select-search xm-select-search-type="dl" xm-select-direction="down" xm-select-radio
                xm-select="pt_course{:time()}" lay-verify="required" class="layui-select full-width block"
                name="course_id" lay-ignore="">
                <option value=""> - 请选择团课 -</option>
                <!--{volist name="courses" id="course"}-->
                <option {in name="$course.id" value="$list.course_id" }selected{/in} value="{$course.id}">{$course.name}
                </option>
                <!--{/volist}-->
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">下限人数</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="floor_num" required lay-verify="required|number" maxlength="5"
                value="{$list.floor_num}" minlength="2" title="请输入下限人数" placeholder="请输入下限人数" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">上限人数</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="upper_num" required lay-verify="required|number" maxlength="11"
                value="{$list.upper_num}" title="请输入上限人数" placeholder="请输入上限人数" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">课程费用</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="expenses" required lay-verify="required|number" maxlength="11"
                value="{$list.expenses}" title="请输入课程费用" placeholder="请输入课程费用" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">奖励金额</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="award" required lay-verify="number" value='{$list.award}' maxlength="11"
                value="{$list.award}" title="请输入奖励金额" placeholder="请输入奖励金额" class="layui-input">
        </div>
    </div>
    {if isset($list.id)}<input type='hidden' value='{$list.id}' name='id'>{/if}
    {if isset($list.coach_id)}<input type='hidden' value='{$list.coach_id}' name='coach_id'>{/if}


    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
<script>
    formSelects.render('pt_course{:time()}');
</script>