{extend name='admin@public/content'}
{block name="button"}
<!--{if auth("$classuri/add")}-->
<button data-modal='{:url("$classuri/add")}' data-title="添加类型"
    class='layui-btn layui-btn-sm layui-btn-primary'>添加类型</button>
<!--{/if}-->
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">类型名称</label>
    <div class="layui-input-inline">
        <input name="name" value="" placeholder="请输入类型名称" class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-inline">
    <button class="layui-btn layui-btn-primary" lay-filter="type_search" lay-submit><i class="layui-icon">&#xe615;</i> 搜
        索</button>
</div>
<table id="typeTable" lay-filter="typeTable"></table>
{/block}
{block name="script"}
<script>
    $(function () {
        $.layuitable('typeTable');
    })
    var tableShow = table.render({
        elem: '#typeTable',

        url: '{:url("$classuri/get_lists")}', //数据接口 
        page: true, //开启分页
        toolbar: '<div>类型列表</div>',
        loading: true,
        title: '类型列表',
        cols: [[//表头
            { title: '序号', fixed: 'left', type: 'numbers' },
            {
                title: '类型名称', templet: function (d) {
                    return d.spl + d.name;
                }
            },
            { field: 'status_show', title: '状态' },
            { field: 'create_time_show', title: '添加时间' },
            { field: 'sort', title: '排序' },
            { fixed: 'right', title: '操作', width: '30%', align: 'center', toolbar: '#typehandle' }
        ]],
        parseData: function (res) { //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
                "count": res.count, //解析数据长度
                "data": res.data //解析数据列表
            };
        }
    });
    //搜索按钮绑定事件
    var curr = 1;
    form.on('submit(type_search)', function () {
        var name = $('input[name="name"]').val();
        table.reload('typeTable', {
            where: {
                name: name
            },
            page: { curr: curr }
        })
        curr = 1;
    })
</script>
<script type="text/html" id="typehandle">
      <!--{if auth("$classuri/edit")}-->
<a class="layui-btn layui-btn-xs" data-action="{:url('edit')}" data-field="tid" data-title="编辑类型"
    lay-event="open">编辑</a>
<!--{/if}-->
<!--{if auth("$classuri/del")}-->
<a class="layui-btn layui-btn-danger layui-btn-xs" data-action="{:url('del')}" data-field="tid" lay-event="del">删除</a>
<!--{/if}-->
</script>
{/block}