{extend name='admin@public/content'}

{block name="content"}
<div class="container-message">
    <div class="contar-wrap" id="contar-wrap">
        <form autocomplete="off" class="layui-form layui-box modal-form-box" action="{:url('add_info')}" data-auto="true" method="post">
            <div class="layui-form-item layui-form-text">
                <textarea class="layui-textarea" name='content' data-filetype-textarea="3" id="LAY-msg-content"  placeholder="请输入回复，一千字以内" maxlength="1000" style="resize:none"></textarea>
            </div>


            <div class="layui-form-item text-center">
                {if isset($lid)}<input type='hidden' value='{$lid}' name='lid'>{/if}
                <button class="layui-btn" type="submit">保存配置</button>
                <button class="layui-btn layui-btn-danger"  type='button' onclick="window.history.back()">取消编辑</button>
            </div>
        </form>
        <div id="LAY-msg-box">
            <!--{volist name="lists" id="list"}-->
            <div class="info-box ">
                <div class="info-item layui-inline  " >

                    <div class="info-text">
                        <p class="title count" >
                            <span class="name">发言人 ： {$list.sendname}</span>
                        </p>
                        <p class="title count">
                            <span class="name">发布时间 ：{$list.create_time_show} </span>
                        </p>
                        <p class="info-intr">
                            {$list.content|raw}
                        </p>
                    </div>
                </div>
            </div>
            <!--{/volist}-->

        </div>
    </div>
</div>


{/block}
{block name="script"}
<script>
    require(['jquery', 'ckeditor'], function () {
        window.form.render();
        window.createEditor('[name="content"]', {height: 200});
    })

</script>
{/block}