<form autocomplete="off" class="layui-form layui-box modal-form-box" action="{:url('auth_info')}" data-auto="true" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">授权账号</label>
        <div class="layui-input-block">
            <!--{volist name="users" id="user"}-->
            <input {eq name="$user.uid" value="$u_id"}checked{/eq} type="radio" name="uid" value="{$user.uid}" title="{$user.username}">
            <!--{/volist}-->
        </div>
    </div>


    <div class="hr-line-dashed"></div>
    {if isset($id)}<input type='hidden' value='{$id}' name='id'>{/if}
    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
<script>
    $(function () {
        form.render();
        laydate.render({
            elem: '#expire_time_add', //指定元素
            type: 'datetime'
        });
    })
</script>
