{extend name='admin@public/content'}
{block name="button"}
  <!--{if auth("$classuri/add")}-->
<button data-modal='{:url("$classuri/add")}' data-title="添加动作库" class='layui-btn layui-btn-sm layui-btn-primary'>添加动作库</button>
<!--{/if}-->
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">名称</label>
    <div class="layui-input-inline">
        <input name="name" value="" placeholder="请输入类型名称" class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-inline ">
    <label class="layui-form-label">所属类型</label>
    <div class="layui-input-inline ">
        <select required=""  xm-select-search xm-select-search-type="dl" xm-select="mtname" lay-verify="required" class="layui-select full-width block" name="mtid" lay-ignore="">
            <option  value=""> - 请选择类型 -</option>
            <!--{volist name="types" id="type"}-->
            <option value="{$type.id}">{$type.name}</option>
            <!--{/volist}-->
        </select>
    </div>
</div>
<div class="layui-form-item layui-inline">
    <button class="layui-btn layui-btn-primary" lay-filter="motion_search" lay-submit><i class="layui-icon">&#xe615;</i> 搜 索</button>
</div>
<table id="motionTable" lay-filter="motionTable"></table>
{/block}
{block name="script"}
<script>
    $(function () {
        $.layuitable('motionTable');
        formSelects.render('mtname');
    })

    table.render({
        elem: '#motionTable',

        url: '{:url("$classuri/get_lists")}', //数据接口 
        page: true, //开启分页
        toolbar: '<div>动作库列表</div>',
        loading: true,
        title: '动作库列表',
        cols: [[//表头
                {title: '序号', fixed: 'left', type: 'numbers'},
                {field: 'name', title: '名称'},
                {field: 'url_show', title: '地址', templet: '<div><a target="_blank" href="{{d.url_show}}" class="layui-table-link">点击查看</a></div>'},
                {field: 'create_time_show', title: '添加时间'},
                {field: 'mtname', title: '所属类型'},
                {field: 'status_show', title: '状态'},
                {fixed: 'right', title: '操作', width: '30%', align: 'center', toolbar: '#motionhandle'}
            ]],
        parseData: function (res) { //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
                "count": res.count, //解析数据长度
                "data": res.data //解析数据列表
            };
        }
    });
    //搜索按钮绑定事件
    form.on('submit(motion_search)', function () {
        var name = $('input[name="name"]').val();
        var mtid = formSelects.value('mtname' , 'valStr'); 
//        var mtid = $('select[name="mtid"]').val();
        table.reload('motionTable', {
            where: {
                name: name,
                mtid :mtid,
            },
            page: {curr: 1}
        })
    })
</script>
<script type="text/html" id="motionhandle">
      <!--{if auth("$classuri/edit")}-->
    <a class="layui-btn layui-btn-xs" data-action="{:url('edit')}" data-field="id" data-title="编辑动作库" lay-event="open">编辑</a>
    <!--{/if}-->
      <!--{if auth("$classuri/del")}-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-action="{:url('del')}" data-field="id" lay-event="del">删除</a>
    <!--{/if}-->
</script>
{/block}