<script src="__STATIC__/plugs/jquery/echarts.js"></script>
<div id="physical" style="width:100%; height:550px ;">
</div>
<script>
    $(function () {
        var physical = echarts.init(document.getElementById('physical'));
        $.post('{:url("getPhysical")}', function (data) {
            if (data == '') {
                return;
            }
            var series = [];

            for (var x in data.series) {
                var seriesData = {};
                seriesData.name = x;
                seriesData.type = 'line';
                seriesData.stack = '总量';
                seriesData.areaStyle = {};
                seriesData.data = data.series[x].data;
                series.push(seriesData);
            }

            var option = {
                title: {
                    text: ''
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                legend: {
                    data: data.name
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: data.xAxisDate
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: series
            };
            physical.setOption(option);
        }, 'json')
    })
</script>