{extend name="public:main"}
{block name="main"}
<!--main 开始-->
<form class="layui-form">
    <div class='main infor '>
        <div class="infor_in">
            <!-- infor_l 开始 -->

            <!-- infor_l 结束 -->

            <!--infor_r 开始-->
            <div class="infor_r infor_data">
                <!-- infor_r_top 开始 -->
                <!--身体水分开始-->
                <div class="infor_data_title">身体成分</div>

                <div class="infor_r_top">
                    <div class="infor_r_top_l">
                        <div class="lablediv ">
                            <label class='half_lab'>
                                <span>体重 (kg.) <i class="red">*</i></span>
                                <input type="text" lay-verify="dataNum" onkeyup="value=value.match(/\d+\.?\d{0,2}/,'')"
                                    maxlength="10" value="{$list.tz|default=''}" name="tz" placeholder="请输入体重"
                                    autocomplete="off" class="layui-input" />
                            </label>

                            <label class='half_lab'>
                                <span>骨骼肌 (kg.) <i class="red">*</i></span>
                                <input type="text" lay-verify="dataNum" onkeyup="value=value.match(/\d+\.?\d{0,2}/,'')"
                                    maxlength="10" value="{$list.ggj|default=''}" name="ggj" placeholder="请输入骨骼肌"
                                    autocomplete="off" class="layui-input" />
                            </label>
                        </div>
                        <div class="lablediv ">
                            <label class='half_lab'>
                                <span>去脂体重 (kg.) <i class="red">*</i></span>
                                <input type="text" lay-verify="dataNum" onkeyup="value=value.match(/\d+\.?\d{0,2}/,'')"
                                    maxlength="10" value="{$list.qztz|default=''}" name="qztz" placeholder="请输入去脂体重"
                                    autocomplete="off" class="layui-input" />
                            </label>
                            <label class='half_lab'>
                            </label>
                        </div>
                    </div>

                    <div class="infor_r_top_l">
                        <div class="lablediv ">
                            <label class='half_lab'>
                                <span>体脂肪 (kg.) <i class="red">*</i></span>
                                <input type="text" lay-verify="dataNum" onkeyup="value=value.match(/\d+\.?\d{0,2}/,'')"
                                    maxlength="10" value="{$list.tzf|default=''}" name="tzf" placeholder="请输入体脂肪"
                                    autocomplete="off" class="layui-input" />
                            </label>

                            <label class='half_lab'>
                                <span>身体水分含量 (kg.) <i class="red">*</i></span>
                                <input type="text" lay-verify="dataNum" onkeyup="value=value.match(/\d+\.?\d{0,2}/,'')"
                                    maxlength="10" value="{$list.sfhl|default=''}" name="sfhl" placeholder="请输入身体水分含量"
                                    autocomplete="off" class="layui-input" />
                            </label>
                        </div>
                    </div>
                    <!--身体水分结束-->

                </div>
                <!--肥胖分析开始-->
                <div class="infor_data_title">肥胖分析</div>

                <div class="infor_r_top">
                    <div class="infor_r_top_l">
                        <div class="lablediv ">
                            <label class='half_lab'>
                                <span>身体质量指数 (BMI,kg/m²) <i class="red">*</i></span>
                                <input type="text" lay-verify="dataNum" onkeyup="value=value.match(/\d+\.?\d{0,2}/,'')"
                                    maxlength="10" value="{$list.zlzs|default=''}" name="zlzs" placeholder="请输入身体质量指数"
                                    autocomplete="off" class="layui-input" />
                            </label>

                            <label class='half_lab'>
                                <span>体脂百分比 (PBF,%) <i class="red">*</i></span>
                                <input type="text" lay-verify="dataNum" onkeyup="value=value.match(/\d+\.?\d{0,2}/,'')"
                                    maxlength="10" value="{$list.tzbfb|default=''}" name="tzbfb" placeholder="请输入体脂百分比"
                                    autocomplete="off" class="layui-input" />
                            </label>
                        </div>

                    </div>

                    <div class="infor_r_top_l">
                        <div class="lablediv ">
                            <label class='half_lab'>
                                <span>腰臀比 (WHR) <i class="red">*</i></span>
                                <input type="text" lay-verify="dataNum" onkeyup="value=value.match(/\d+\.?\d{0,2}/,'')"
                                    maxlength="10" value="{$list.ytb|default=''}" name="ytb" placeholder="请输入腰臀比"
                                    autocomplete="off" class="layui-input" />
                            </label>

                            <label class='half_lab'>
                                <span>基础代谢 (kcall) <i class="red">*</i></span>
                                <input type="text" lay-verify="dataNum" onkeyup="value=value.match(/\d+\.?\d{0,2}/,'')"
                                    maxlength="10" value="{$list.jcdx|default=''}" name="jcdx" placeholder="请输入基础代谢"
                                    autocomplete="off" class="layui-input" />
                            </label>
                        </div>
                    </div>
                </div>
                <!--肥胖分析结束-->
                <!--脂肪控制开始-->
                <div class="infor_data_title">脂肪控制</div>

                <div class="infor_r_top">
                    <div class="infor_r_top_l">
                        <div class="lablediv">
                            <label>
                                <span>肌肉控制(kg) <i class="red">*</i></span>
                                <input type="text" lay-verify="dataNum" onkeyup="value=value.match(/\d+\.?\d{0,2}/,'')"
                                    maxlength="50" value="{$list.jrkz|default=''}" name="jrkz" placeholder="请输入肌肉控制"
                                    autocomplete="off" class="layui-input" />
                            </label>
                        </div>
                    </div>
                    <div class="infor_r_top_l">
                        <div class="lablediv">
                            <label>
                                <span>脂肪控制 (kg)<i class="red">*</i></span>
                                <input type="text" lay-verify="dataNum" onkeyup="value=value.match(/\d+\.?\d{0,2}/,'')"
                                    maxlength="50" value="{$list.zfkz|default=''}" name="zfkz" placeholder="请输入脂肪控制"
                                    autocomplete="off" class="layui-input" />
                            </label>
                        </div>
                    </div>
                </div>
                <!--脂肪控制结束-->
                <!-- infor_r_top 结束 -->

                <!-- infor_r_bot 开始 -->
                <div class="infor_r_bot">
                    <button class="layui-btn margin20 layui-btn-normal" lay-submit lay-filter="dataInfo">更新</button>
                </div>
                <!-- infor_r_bot 结束 -->
            </div>
            <!--infor_r 结束-->
        </div>
    </div>
</form>
<!--main 结束-->
{/block}
{block name="script"}
<script type="text/javascript">
    $(function () {
        layui.use(['form', 'layer'], function () {
            var form = layui.form;
            var layer = layui.layer;

            //监听提交
            form.on('submit(dataInfo)', function (data) {
                var flag = false;
                $('input').each(function () {
                    if ($.trim($(this).val()) != '') {
                        flag = true;
                        return false;
                    }
                })
                if (!flag) {
                    layer.msg('请至少填写一项数据');
                    return false;
                }
                $.ajax({
                    type: "post",
                    url: "{:url('data_add')}",
                    data: $('form').serialize(),
                    dataType: "json",
                    success: function (data) {
                        layer.msg(data.msg);
                    }
                });
                return false;
            });
            form.verify({
                dataNum: function (value, item) { //value：表单的值、item：表单的DOM对象
                    if ($.trim(value) != '') {
                        var reg = /^(([0-9]+|0)\.([0-9]{1,2})$)|^([0-9]+|0)$/;
                        if (!reg.test(value)) {
                            return '请输入正确的数值';
                        }
                    }

                }
            });
        });
    })
</script>
{/block}