{extend name="public:main"}
{block name="main"}

<!--main 开始-->
<div class='main profile  width'>
    <!--infor  开始-->
    <a href='{:url("/member/info")}' class="profile_infor">
        <div class="profile_infor_in">
            <div class="profile_infor_c">
                <div class='l_img'><img src="{$list.picture}" class="" /></div>
                <div class="font_r">
                    <h3>{$list.last_name|default=""}</h3>
                    <!--<p><i class="layui-icon">&#x1005;</i>94Completed Workouts</p>-->
                </div>
            </div>
        </div>
    </a>
    <!--infor  结束-->

    <ul>
        <li>
            <a href="javascript:;">
                <div class="a_header"><i class="layui-icon">&#xe660;</i>身体变化</div>

                <div class="show_div " style="width: 100%" id="photo_show">
                    <p>最新数据</p>
                    {empty name="photo"}
                    <p class=""> 暂无照片</p>
                    {else /}
                    <div class="showphoto front">
                        <img alt="正面照片" layer-src="{$photo.front_photo|default='__STATIC__/theme/img/image.png'}"
                            src="{$photo.thumb_front_photo|default='__STATIC__/theme/img/image.png'}">
                        <span>正面照片</span>
                    </div>
                    <div class="showphoto back">
                        <img alt="背面照片" layer-src="{$photo.back_photo|default='__STATIC__/theme/img/image.png'}"
                            src="{$photo.thumb_back_photo|default='__STATIC__/theme/img/image.png'}">
                        <span>背面照片</span>
                    </div>
                    <div class="showphoto side">
                        <img alt="侧面照片" layer-src="{$photo.side_photo|default='__STATIC__/theme/img/image.png'}"
                            src="{$photo.thumb_side_photo|default='__STATIC__/theme/img/image.png'}">
                        <span>侧面照片</span>
                    </div>

                    {/empty}
                    <p class="show_div_more">查看更多 >>> </p>
                </div>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <div class="a_header"><i class="layui-icon">&#xe6b2;</i>运动数据</div>
                <div class="show_div " style="width: 100%;display: block" id="data_show">
                    <!-- 引入一周数据图标 -->
                    {include file="member/ajax_data_info" /}
                    <p class="show_data_more">查看更多 >>> </p>
                </div>



            </a>
        </li>
        {if !empty($Think.session.motion_member.coach_id)}
        <li>
            <a href="javascript:;">
                <div class="a_header"><i class="layui-icon">&#xe637;</i>课程日程</div>
                <div class="show_div">
                    {volist name="classes" id="class"}
                    {if ($class.type == 1) }
                    <p>私教-{$class.begin_at}-{$class.end_at}</p>
                    {else /}
                    <p>{$class.course.name}-{$class.begin_at}-{$class.end_at}</p>
                    {/if}

                    <br />
                    {/volist}
                    <p class="show_class_more">查看更多 >>> </p>
                </div>
            </a>
        </li>
        {/if}
        <!--
                <li>
                    <a href="javascript:;">
                        <div class="a_header"><i class="layui-icon">&#xe60d;</i>Progress Pictures</div>
                        <div class="show_div"></div>
                    </a>
                </li>
        
                <li>
                    <a href="javascript:;">
                        <div class="a_header"><i class="layui-icon">&#xe60a;</i>Shared Documents</div>
                        <div class="show_div"></div>
                    </a>
                </li>-->



        <!--        <li class="margintop">
                    <a href="javascript:;">
                        <div class="a_header">
                            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true" data-icon="exchange" data-prefix="far" id="ember1169" class="fa-fw mrs tcp svg-inline--fa fa-exchange fa-w-16 mrs tcp ember-view"><path fill="currentColor" d="M508.485 168.485l-100.375 100c-4.686 4.686-12.284 4.686-16.97 0l-19.626-19.626c-4.753-4.753-4.675-12.484.173-17.14L422.916 184H12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h410.916l-51.228-47.719c-4.849-4.656-4.927-12.387-.173-17.14l19.626-19.626c4.686-4.686 12.284-4.686 16.97 0l100.375 100c4.685 4.686 4.685 12.284-.001 16.97zm-504.97 192l100.375 100c4.686 4.686 12.284 4.686 16.97 0l19.626-19.626c4.753-4.753 4.675-12.484-.173-17.14L89.084 376H500c6.627 0 12-5.373 12-12v-24c0-6.627-5.373-12-12-12H89.084l51.228-47.719c4.849-4.656 4.927-12.387.173-17.14l-19.626-19.626c-4.686-4.686-12.284-4.686-16.97 0l-100.375 100c-4.686 4.686-4.686 12.284.001 16.97z"></path>
                            </svg>
                            Switch to Coach</div>
                        <div class="show_div"></div>
                    </a>
                </li>-->
        {if empty($list.f_id) || !is_weixin()}
        <li>
            <a href="javascript:;" class="out">
                <div class="">
                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true"
                        data-icon="sign-out-alt" data-prefix="fas" id="ember1171"
                        class="fa-fw mrs svg-inline--fa fa-sign-out-alt fa-w-16 mrs ember-view">
                        <path fill="currentColor"
                            d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z">
                        </path>
                    </svg>
                    退出</div>
                <div class="show_div"></div>
            </a>
        </li>
        {else /}
        <li>
            <a href="javascript:;" class="untying">
                <div class="">
                    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true"
                        data-icon="sign-out-alt" data-prefix="fas" id="ember1171"
                        class="fa-fw mrs svg-inline--fa fa-sign-out-alt fa-w-16 mrs ember-view">
                        <path fill="currentColor"
                            d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z">
                        </path>
                    </svg>
                    解除绑定</div>
                <div class="show_div"></div>
            </a>
        </li>
        {/if}
    </ul>
</div>
<!--main 结束-->

</body>
{/block}
{block name="script"}
<script type="text/javascript">
    $(function () {
        layui.use(['layer'], function () {
            var layer = layui.layer;
            layer.photos({
                photos: '#photo_show'
                , anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
            });
        });
        $('#data_show').css('display', 'none');
        //导航点击相应的div显示 开始
        $(".a_header").click(function () {
            if ($(this).siblings('.show_div').is(":hidden")) {
                $('.show_div').hide().filter($(this).siblings('.show_div')).show();
            } else {
                $('.show_div').hide();
            }
        });
        //导航点击相应的div显示 结束
        $('.out').click(function () {
            layer.confirm('确定要退出？', function () {
                window.location.href = '{:url("/login/out")}'
            })
        })
        $('.untying').click(function () {
            layer.confirm('确定要解绑？', function () {
                window.location.href = '{:url("/login/untying")}'
            })
        })
        $('.show_div_more').click(function () {
            window.location.href = '{:url("photo")}';
        })
        $('.show_data_more').click(function () {
            window.location.href = '{:url("data")}';
        })
        $('.show_class_more').click(function () {
            window.location.href = '{:url("classes")}';
        })
    })
</script>
{/block}