{extend  name="public:main"}
{block name="main"}

<!--main 开始-->
<div class='main profile  width'>
    <ul>
        <li>
            <a href="javascript:;">
                <div class="a_header"><i class="layui-icon">&#xe643;</i>身体变化</div>

                <div class="photo upload" style="width: 100%">
                    <p>上传照片</p>
                    <div class="front">
                        <img data-file="one"  data-filetype="6" data-field="front" data-type="jpg,png,jpeg" src="{$notphoto.front_photo|default='__STATIC__/theme/img/image.png'}">
                        <input type="hidden"  name="front" value="">
                        <p></p>
                    </div>
                    <div class="back" >
                        <img data-file="one"  data-filetype="6" data-field="back" data-type="jpg,png,jpeg" src="{$notphoto.back_photo|default='__STATIC__/theme/img/image.png'}">
                        <input type="hidden"  name="back" value="">
                    </div>
                    <div class="side" >
                        <img data-file="one"  data-filetype="6" data-field="side" data-type="jpg,png,jpeg" src="{$notphoto.side_photo|default='__STATIC__/theme/img/image.png'}">
                        <input type="hidden"  name="side" value="">
                    </div>
                </div>
            </a>
        </li>
        <div id="photo_show">
        </div>



    </ul>
</div>
<!--main 结束-->

</body>
{/block}
{block name="script"}
<script type="text/javascript">
    $(function () {
        layui.use(['flow', 'laytpl'], function () {


            var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
            var flow = layui.flow;
            var laytpl = layui.laytpl;

            flow.load({
                elem: '#photo_show', //指定列表容器
                end: '没有更多了...',
                done: function (page, next) { //到达临界点（默认滚动触发），触发下一页
                    var lis = [];
                    //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                    $.get('{:url("/index/member/get_all_photo")}?page=' + page + '&type=', function (res) {
                        lis.push(res);
                        next(lis.join(''), page < {$pages});
                        layerphotos();
                    }, 'json');
                }
            });

        });


        $('.photo input').change(function () {
            var name = $(this).attr('name');
            var photo = $(this).val();
            $.post('{:url("photo_add")}', {'name': name, 'photo': photo}, function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg);
                } else if (data.code == 1) {
                    layer.msg(data.msg, '', function () {
                        location.reload()
                    });
                } else if (data.code == 2) {
                    layer.msg(data.msg);
                } else {
                    layer.msg('上传失败');
                }
            }, 'json')
            $('.' + name + ' img').attr('src', photo);

            $('.show_div').show();
        })

    })

    function layerphotos() {
        layui.use(['layer'], function () {
            var layer = layui.layer;
            layer.photos({
                photos: '#photo_show'
                , anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
            });
        })

    }
</script>
{/block}