
{volist name="allphotos" id="ap"}
<li>
    <a href="javascript:;">
        <p>{$ap.create_time_show}</p>
        <div class="photo show" >
            <div class="front" >
                <img alt="{$ap.create_time_show}-----正面照片" layer-src="{$ap.front_photo}" src="{$ap.thumb_front_photo}">
                <span>正面照片</span>
            </div>
            <div class="back" >
                <img alt="{$ap.create_time_show}-----背面照片"  layer-src="{$ap.back_photo}" src="{$ap.thumb_back_photo}">
                <span>背面照片</span>
            </div>
            <div class="side" >
                <img alt="{$ap.create_time_show}-----侧面照片"  layer-src="{$ap.side_photo}" src="{$ap.thumb_side_photo}">
                <span>侧面照片</span>
            </div>
        </div>
    </a>
</li>
{/volist}