{extend name='admin@public/content'}
{block name="button"}
<!--{if auth("$classuri/add")}-->
<button data-modal='{:url("$classuri/add")}' data-title="添加会员"
    class='layui-btn layui-btn-sm layui-btn-primary'>添加会员</button>
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">会员名称</label>
    <div class="layui-input-inline">
        <input name="name" value="" placeholder="请输入会员名称" class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">教练名称</label>
    <div class="layui-input-inline">
        <input name="cname" value="" placeholder="请输入教练名称" class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">到期时间</label>
    <div class="layui-input-inline">
        <input name="expire_time" id="expire_time" value="" placeholder="请选择到期时间" class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-inline">
    <button class="layui-btn layui-btn-primary" lay-filter="member_search" lay-submit><i class="layui-icon">&#xe615;</i>
        搜 索</button>
</div>
<table id="memberTable" lay-filter="memberTable"></table>
{/block}
{block name="script"}
<script>
    $(function () {
        $.layuitable('memberTable');
        laydate.render({ range: true, elem: '#expire_time' });
        $('body').on('mouseenter', '.end_time_show', function () {
            var that = this;
            var mid = $(this).attr('data-itemid');
            $.post('{:url("get_member_times")}', { 'mid': mid }, function (data) {
                if (data.data.length != 0) {
                    var tipsHtml = '到期时间：<br />';
                    for (var i = 0; i < data.data.length; i++) {
                        tipsHtml += data.data[i].begin_time_show + ' - ' + data.data[i].end_time_show + '<br />';
                    }
                    layer.tips(tipsHtml, that);
                }
            }, 'json')

        })
    })
    table.render({
        elem: '#memberTable',
        url: '{:url("$classuri/get_lists")}', //数据接口 
        page: true, //开启分页
        toolbar: '<div>会员列表</div>',
        loading: true,
        title: '会员列表',
        cols: [[//表头
            { title: '序号', fixed: 'left', type: 'numbers' },
            { field: 'name', title: '会员名称' },
            { field: 'phone', title: '手机号码' },
            { field: 'cname', title: '教练' },
            { field: 'status_show', title: '状态' },
            { field: 'end_time_show', title: '到期时间', templet: '#end_time_show' },
            { field: 'create_time_show', title: '添加时间' },
            {
                fixed: 'right', title: '操作', width: '30%', align: 'center', toolbar: '#memberhandle'
            }
        ]],
        parseData: function (res) { //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
                "count": res.count, //解析数据长度
                "data": res.data //解析数据列表
            };
        }
    }
    );
    //搜索按钮绑定事件
    form.on('submit(member_search)', function () {
        var name = $('input[name="name"]').val();
        var cname = $('input[name="cname"]').val();
        var expire_time = $('input[name="expire_time"]').val();
        table.reload('memberTable', {
            where: {
                name: name,
                cname: cname,
                expire_time: expire_time
            },
            page: { curr: 1 }
        })
    })
</script>
<script type="text/html" id="memberhandle">
    <!--{if auth("$classuri/time_add")}-->
    <a class="layui-btn layui-btn-xs" data-action="{:url('time_add')}" data-field="mid" data-title="添加时间" lay-event="open">添加时间</a>
    <!--{/if}-->
    <!--{if auth("$classuri/edit")}-->
    <a class="layui-btn layui-btn-xs" data-action="{:url('edit')}" data-field="mid" data-title="编辑会员" lay-event="open">编辑</a>
    <!--{/if}-->
    <!--{if auth("$classuri/del")}-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-action="{:url('del')}" data-field="mid" lay-event="del">删除</a>
    <!--{/if}-->
    <!--{if auth("$classuri/pas")}-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-action="{:url('pas')}" data-field="mid" lay-event="update">重置密码</a>
    <!--{/if}-->
    
    {{#if (d.status == 1){}}
    <!--{if auth("$classuri/handle")}-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-value="-1" data-action="{:url('handle')}" data-field="mid" lay-event="update">禁用</a>
    <!--{/if}-->
    {{#}else{}}
    <!--{if auth("$classuri/handle")}-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-value="1" data-action="{:url('handle')}" data-field="mid" lay-event="update">启用</a>
    <!--{/if}-->
    {{#}}}
    <!--{if auth("$classuri/dis")}-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-action="{:url('dis')}" data-field="mid" lay-event="open">分配教练</a>
    <!--{/if}-->
    <!--{if auth("$classuri/initialize")}-->
    {{#if (!d.sid && !d.is_system){}}
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-action="{:url('initializeClass')}" data-field="mid" lay-event="open">初始化课程</a>
    {{#}}}
    <!--{/if}-->
</script>
<script type="text/html" id="end_time_show">
    {{#if(d.end_time == '' || d.end_time == null){  }}
    <div>{{d.end_time_show}}</div>
    {{#}else{}}
    <div><a class="end_time_show" data-field='mid' data-action="{:url('time')}" data-itemid="{{d.id}}" lay-event="href">{{d.end_time_show}}</a></div>
    {{#}}}
</script>

{/block}