{extend name='admin@public/content'}
{block name="button"}
<!--<button data-modal='{:url("$classuri/add")}' data-title="添加会员" class='layui-btn layui-btn-sm layui-btn-primary'>添加会员</button>-->
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form autocomplete="off" class="layui-form layui-form-pane form-search" action="{:request()->url()}"
    onsubmit="return false" method="get">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">搜索时间</label>
        <div class="layui-input-inline">
            <input name="search_time" id="search_time" value="{$Think.get.search_time}" placeholder="请选择到期时间"
                class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary" id="statistics_search" lay-submit><i class="layui-icon">&#xe615;</i>
            搜 索</button>
    </div>
</form>
<div id="physical" style="height: 500px">

</div>

{/block}
{block name="script"}
<script>
    $(function () {
        laydate.render({ elem: '#search_time' });
        $.post('{:url("getPhysical")}?id={$Think.get.id}', function (data) {
            if (data == '') {
                return;
            }
            var series = [];

            for (var x in data.series) {
                var seriesData = {};
                seriesData.name = x;
                seriesData.type = 'line';
                seriesData.stack = '总量';
                seriesData.areaStyle = {};
                seriesData.data = data.series[x].data;
                console.log(seriesData);
                series.push(seriesData);
            }
            console.log(series);
            var physical = echarts.init(document.getElementById('physical'));
            var option = {
                title: {
                    text: '身体变化'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        label: {
                            backgroundColor: '#6a7985'
                        }
                    }
                },
                legend: {
                    data: data.name
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: data.xAxisDate
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: series
            };
            console.log(option)
            physical.setOption(option);
        }, 'json')


    })
</script>
{/block}