<form autocomplete="off" class="layui-form layui-box modal-form-box" action="{:url('add_info')}" data-auto="true" method="post">



    <div class="layui-form-item">
        <label class="layui-form-label">计划名称</label>
        <div class="layui-input-block">
            <input type="tel" autofocus name="name" required lay-verify="required" value='' maxlength="50" minlength="2" title="请输入计划名称，不超过五十个字" placeholder="请输入计划名称，不超过五十个字" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">热身语</label>
        <div class="layui-input-block">
            <textarea name="warmup" maxlength="10000" class="form-control" placeholder="请输入热身语"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">热身视频</label>
        <div class="layui-input-block">
            <select required="" xm-select-search xm-select-search-type="dl" xm-select="warmup_mids"  lay-verify="required" class="layui-select full-width block" name="warmup_mids" lay-ignore="">
                <option  value=""> - 请选择类型 -</option>
                <!--{volist name="types" id="type"}-->
                <optgroup label="{$type.name}">
                    <!--{volist name="type.motion" id="m"}-->
                    <option value="{$m.id}">{$m.name}</option>
                    <!--{/volist}-->
                </optgroup>
                <!--{/volist}-->

            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">冷身语</label>
        <div class="layui-input-block">
            <textarea name="colldown" maxlength="10000" class="form-control" placeholder="请输入结束语"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">冷身视频</label>
        <div class="layui-input-block">
            <select required="" xm-select-search xm-select-search-type="dl" xm-select="colldown_mids" lay-verify="required" class="layui-select full-width block" name="colldown_mids" lay-ignore="">
                <option  value=""> - 请选择类型 -</option>
                <!--{volist name="types" id="type"}-->
                <optgroup label="{$type.name}">
                    <!--{volist name="type.motion" id="m"}-->
                    <option value="{$m.id}">{$m.name}</option>
                    <!--{/volist}-->
                </optgroup>
                <!--{/volist}-->



            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上课时间</label>
        <div class="layui-input-block">
            <input type="text"  required lay-verify="required" value='' id="add_class_time"  maxlength="11"name="class_time" title="请选择上课时间" placeholder="请选择上课时间" class="layui-input">
        </div>
    </div>

    {if isset($mid)}<input type='hidden' value='{$mid}' name='mid'>{/if}
    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
{block name="script"}
<script>
    $(function () {
        formSelects.render('warmup_mids', {
            template: function (name, value, selected, disabled) {
                var mid = value.value;
                return value.name + '<a data-value="' + mid + '"  class="selecthref" style="position: absolute; right: 0; color: #A0A0A0; font-size: 12px;">点击查看</a>';
            }
        });
        formSelects.render('colldown_mids', {
            template: function (name, value, selected, disabled) {
                var mid = value.value;
                return value.name + '<a data-value="' + mid + '"  class="selecthref" style="position: absolute; right: 0; color: #A0A0A0; font-size: 12px;">点击查看</a>';
            }
        });

        $('.selecthref').on('click', function () {
            var mid = $(this).attr('data-value');
            $.post('{:url("get_motion_url")}', {'mid': mid}, function (data) {
                if (data.code == 1) {
                    var motion = data.msg;
                    if (motion.url != '' || motion.url != null || motion.url != undefined) {
                        layer.open({
                            type: 2,
                            area: '500px',
                            content: motion.url //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                        });
                    }
                }
            }, 'json')
            return false;
        })
        form.render();
        laydate.render({elem: '#add_class_time', calendar: true, min: 0});
    })

</script>
{/block}