{extend name='admin@public/content'}
{block name="button"}
<button data-modal='{:url("$classuri/add")}' data-title="添加会员" class='layui-btn layui-btn-sm layui-btn-primary'>添加会员</button>
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">会员名称</label>
    <div class="layui-input-inline">
        <input name="name" value="" placeholder="请输入会员名称" class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">教练名称</label>
    <div class="layui-input-inline">
        <input name="cname" value="" placeholder="请输入教练名称" class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">到期时间</label>
    <div class="layui-input-inline">
        <input name="expire_time" id="expire_time" value="" placeholder="请选择到期时间" class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-inline">
    <button class="layui-btn layui-btn-primary" lay-filter="arrange_search" lay-submit><i class="layui-icon">&#xe615;</i> 搜 索</button>
</div>
<table id="arrangeTable" lay-filter="arrangeTable"></table>
{/block}
{block name="script"}
<script>
    $(function () {
        $.layuitable('arrangeTable');
        laydate.render({range: true, elem: '#expire_time'});
    })
    table.render({
        elem: '#arrangeTable',
        height: 312,
        url: '{:url("$classuri/get_arrange_lists") , ["id"=>$mid]}', //数据接口 
        page: true, //开启分页
        toolbar: '<div>排课列表</div>',
        loading: true,
        title: '会员列表',
        cols: [[//表头
                {title: '序号', fixed: 'left', type: 'numbers'},
                {field: 'cname', title: '课程名称'},
                {field: 'class_time_show', title: '上课时间'},
                {field: 'state_show', title: '上课状态'},
                {field: 'coach_name', title: '教练姓名'},
                {field: 'create_time_show', title: '添加时间'},
                {fixed: 'right', title: '操作', width: '30%', align: 'center', toolbar: '#arrangehandle'}
            ]],
        parseData: function (res) { //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
                "count": res.count, //解析数据长度
                "data": res.data //解析数据列表
            };
        }
    });
    //搜索按钮绑定事件
    form.on('submit(member_search)', function () {
        var name = $('input[name="name"]').val();
        var cname = $('input[name="cname"]').val();
        var expire_time = $('input[name="expire_time"]').val();
        table.reload('memberTable', {
            where: {
                name: name,
                cname: cname,
                expire_time: expire_time
            },
            page: {curr: 1}
        })
    })
</script>
<script type="text/html" id="arrangehandle">
    <a class="layui-btn layui-btn-xs" layui-action="{:url('arrange')}"  lay-event="href">查看排课</a>

</script>

{/block}