{extend name='admin@public/content'}
{block name="button"}
<button data-modal='{:url("$classuri/upload")}' data-title="批量上传计划"
    class='layui-btn layui-btn-sm layui-btn-primary'>批量上传计划</button>
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">会员名称</label>
    <div class="layui-input-inline">
        <input name="name" value="" placeholder="请输入会员名称" class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">教练名称</label>
    <div class="layui-input-inline">
        <input name="cname" value="" placeholder="请输入教练名称" class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">到期时间</label>
    <div class="layui-input-inline">
        <input name="expire_time" id="expire_time" value="" placeholder="请选择到期时间" class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-inline">
    <button class="layui-btn layui-btn-primary" lay-filter="member_search" lay-submit><i class="layui-icon">&#xe615;</i>
        搜 索</button>
</div>
<table id="memberTable" lay-filter="memberTable"></table>
{/block}
{block name="script"}
<script>
    $(function () {
        $.layuitable('memberTable');
        laydate.render({ range: true, elem: '#expire_time' });
        $('body').off('mouseover', '.end_time_show').on('mouseover', '.end_time_show', function () {
            var that = this;
            var mid = $(this).attr('data-itemid');
            $.post('{:url("/motion/member/get_member_times")}', { 'mid': mid }, function (data) {
                if (data.data.length != 0) {
                    var tipsHtml = '到期时间：<br />';
                    for (var i = 0; i < data.data.length; i++) {
                        tipsHtml += data.data[i].begin_time_show + ' - ' + data.data[i].end_time_show + '<br />';
                    }
                    layer.tips(tipsHtml, that, {
                        time: 0
                    });
                }
            }, 'json')

        })
        $('body').on('mouseleave', '.end_time_show', function () {
            layer.closeAll()
        })
    })
    var tableShow = table.render({
        elem: '#memberTable',

        url: '{:url("$classuri/get_all_lists")}', //数据接口 
        page: true, //开启分页
        toolbar: '<div>会员列表</div>',
        loading: true,
        title: '会员列表',
        cols: [[//表头
            { title: '序号', fixed: 'left', type: 'numbers' },
            { field: 'id', title: 'ID' },
            { field: 'name', title: '会员名称' },
            { field: 'phone', title: '手机号码' },
            { field: 'cname', title: '教练' },
            { field: 'status_show', title: '状态' },
            { field: 'end_time_show', title: '到期时间', templet: '#end_time_show' },
            { fixed: 'right', title: '操作', width: '30%', align: 'center', toolbar: '#memberhandle' }
        ]],
        parseData: function (res) { //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
                "count": res.count, //解析数据长度
                "data": res.data //解析数据列表
            };
        }
    });
    //搜索按钮绑定事件
    var curr = 1;
    form.on('submit(member_search)', function () {
        var name = $('input[name="name"]').val();
        var cname = $('input[name="cname"]').val();
        var expire_time = $('input[name="expire_time"]').val();
        table.reload('memberTable', {
            where: {
                name: name,
                cname: cname,
                expire_time: expire_time
            },
            page: { curr: curr }
        })
        curr = 1;
    })
</script>
<script type="text/html" id="memberhandle">
    <a class="layui-btn layui-btn-xs" data-action="{:url('arrange')}"  lay-event="href">查看计划</a>
    <a class="layui-btn layui-btn-xs" data-action="{:url('statistics')}"  lay-event="href">计划统计</a>
    <a class="layui-btn layui-btn-xs" data-action="{:url('member/physical')}"  lay-event="href">身体变化</a>
</script>
<script type="text/html" id="end_time_show">
    {{#if(d.end_time == '' || d.end_time == null){  }}
    <div>{{d.end_time_show}}</div>
    {{#}else{}}
    <div><a class="end_time_show" data-field='mid' data-action="{:url('/motion/member/time')}" data-itemid="{{d.id}}" lay-event="href">{{d.end_time_show}}</a></div>
    {{#}}}
</script>

{/block}