<form autocomplete="off" class="layui-form layui-box modal-form-box" action="{:url('lesson/little_edit_info')}"
    data-auto="true" method="post">


    <div class="layui-form-item">
        <label class="layui-form-label">动作编号</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="num" required lay-verify="required" value='{$list.num|default=""}'
                maxlength="10" title="请输入编号，不超过十个字" placeholder="请输入编号，不超过十个字" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">动作名称</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="name" required lay-verify="required" value='{$list.name|default=""}'
                maxlength="50" minlength="2" title="请输入动作名称，不超过五十个字" placeholder="请输入动作名称，不超过五十个字" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">添加视频</label>
        <div class="layui-input-block">
            <select required="" xm-select-search xm-select-search-type="dl" xm-select-direction="down" xm-select="m_ids"
                lay-verify="required" class="layui-select full-width block" name="m_ids" lay-ignore="">
                <option value=""> - 请选择视频 -</option>
                <!--{volist name="types" id="type"}-->
                <optgroup label="{$type.name}">
                    <!--{volist name="type.motion" id="m"}-->
                    <option {in name="$m.id" value="$list.m_ids" }selected{/in} value="{$m.id}">{$m.name}</option>
                    <!--{/volist}-->
                </optgroup>
                <!--{/volist}-->

            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea name="remark" maxlength="10000" class="form-control"
                placeholder="请输入备注">{$list.remark|default=""}</textarea>
        </div>
    </div>

    {if isset($list.id)}<input type='hidden' value='{$list.id}' name='id'>{/if}
    {if isset($is_batch)}<input type='hidden' value='{$is_batch}' name='is_batch'>{/if}
    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
{block name="script"}
<script>
    $(function () {
        formSelects.render();
        $('.selecthref').on('click', function () {
            var mid = $(this).attr('data-value');
            $.post('{:url("get_motion_url")}', { 'mid': mid }, function (data) {
                if (data.code == 1) {
                    var motion = data.msg;
                    if (motion.url != '' || motion.url != null || motion.url != undefined) {
                        layer.open({
                            type: 2,
                            area: '500px',
                            content: motion.url //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                        });
                    }
                }
            }, 'json')
            return false;
        })
        laydate.render({ elem: '#class_time', calendar: true, min: 0 });
    })

</script>
{/block}