{extend name='admin@public/content'}
{block name="button"}
<button data-modal='{:url("$classuri/little_add")}?lid={$lid}' data-title="添加小动作" class='layui-btn layui-btn-sm layui-btn-primary'>添加小动作</button>
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">动作名称</label>
    <div class="layui-input-inline">
        <input name="cname" value="" placeholder="请输入动作名称" class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-inline">
    <button class="layui-btn layui-btn-primary" lay-filter="little_search" lay-submit><i class="layui-icon">&#xe615;</i> 搜 索</button>
</div>
<table id="littleTable" lay-filter="littleTable"></table>
{/block}
{block name="script"}
<script>
    $(function () {
        $.layuitable('littleTable');
    })
    table.render({
        elem: '#littleTable',
       
        url: '{:url("$classuri/get_little_courses")}?lid={$lid}', //数据接口 
        page: true, //开启分页
        toolbar: '<div>动作列表</div>',
        loading: true,
        title: '会员列表',
        cols: [[//表头
                {title: '序号', fixed: 'left', type: 'numbers'},
                {field: 'num', title: '动作编号'},
                {field: 'name', title: '动作名称'},
                {field: 'status_show', title: '状态'},
                {field: 'state_show', title: '上课状态'},
                {field: 'create_time_show', title: '添加时间'},
                {field: 'remark', title: '备注'},
                {field: 'message', title: '情况'},
                {fixed: 'right', title: '操作', width: '30%', align: 'center', toolbar: '#coursehandle'}
            ]],
        parseData: function (res) { //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
                "count": res.count, //解析数据长度
                "data": res.data //解析数据列表
            };
        }
    });
    //搜索按钮绑定事件
    form.on('submit(little_search)', function () {
        var cname = $('input[name="cname"]').val();
        table.reload('littleTable', {
            where: {
                cname: cname,
            },
            page: {curr: 1}
        })
    })
</script>
<script type="text/html" id="coursehandle">
    <a class="layui-btn layui-btn-xs" data-action="{:url('little_edit')}" data-title="编辑小动作" lay-event="open">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-action="{:url('little_del')}"  lay-event="del">删除</a>

</script>

{/block}