{extend name='admin@public/content'}
{block name="button"}
<!--<button data-modal='{:url("$classuri/add")}' data-title="添加会员" class='layui-btn layui-btn-sm layui-btn-primary'>添加会员</button>-->
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form autocomplete="off" class="layui-form layui-form-pane form-search" action="{:request()->url()}"
    onsubmit="return false" method="get">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">搜索时间</label>
        <div class="layui-input-inline">
            <input name="search_time" id="search_time" value="{$Think.get.search_time}" placeholder="请选择到期时间"
                class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">计划名称</label>
        <div class="layui-input-inline">
            <input name="name" value="{$Think.get.name}" placeholder="请输入计划名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary" id="statistics_search" lay-submit><i class="layui-icon">&#xe615;</i>
            搜 索</button>
    </div>
</form>
<div>
    <table id="statistics" lay-even class="layui-table" lay-filter="statistics">

        <tbody>
            <tr>
                <td>日期</td>
                {volist name="lesson" id="list"}
                <td> {$list.class_time_show}</td>
                {/volist}

            </tr>
            <tr>
                <td>计划名称</td>
                {volist name="lesson" id="list"}
                <td>{$list.name}</td>
                {/volist}

            </tr>
            <tr>
                <td>上课状态</td>
                {volist name="lesson" id="list"}
                <td style="color: {if $list.state==0}#FFB800{/if}">{$list.state_show}</td>
                {/volist}
            </tr>
            <tr>
                <td>热身语</td>
                {volist name="lesson" id="list"}
                <td>{:nl2br($list.warmup)}</td>
                {/volist}
            </tr>

            <tr>
                <td>计划详情</td>
                {volist name="lesson" id="list"}
                <td>
                    <ul>
                        {volist name="list.little" id="little"}

                        <li style="color: {if $little.state==0}#FFB800{/if}">{$little.num} ： <span {if
                                !empty($Think.get.name) && strpos($little.name , $Think.get.name)
                                !==false}style="color:red" {/if}>{$little.name} </span> <br>
                                备注：{$little.remark}<br>
                                完成情况：{$little.message}<br>
                                动作记录 :
                                {volist name="little.files" id="file"}
                                {if !empty($file['url']) && (strpos($file['url'] , '.mp4') !== false ||
                                strpos($file['url'] ,
                                '.mov') !== false )}
                                <a target="_blank" href="{$file.url}">播放视频</a>
                                {else /}
                                <a target="_blank" href="{$file.url}">查看图片</a>
                                {/if}
                                {/volist}
                                <br> <br>
                        </li>
                        {/volist}
                    </ul>
                </td>
                {/volist}
            </tr>
            <tr>
                <td>冷身语</td>
                {volist name="lesson" id="list"}
                <td>{:nl2br($list.colldown)}</td>
                {/volist}
            </tr>
        </tbody>
    </table>
</div>

{/block}
{block name="script"}
<script>
    $(function () {
        laydate.render({ elem: '#search_time' });
        layer.photos({
            photos: '#little_record_img'

        });
        

    })
</script>
{/block}