<form autocomplete="off" class="layui-form layui-box modal-form-box" action="{:url()}" data-auto="true" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">模板名称</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="title" required lay-verify="required" value='' maxlength="20"
                minlength="2" title="请输入模板名称，不超过二十个字" placeholder="请输入模板名称，不超过二十个字" class="layui-input">
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>
{block name="script"}
<script>
    $(function () {
        form.render();
    })

</script>
{/block}