{extend name='admin@public/content'}
{block name="button"}
<button data-modal='{:url("$classuri/templateAdd")}' data-title="新建模板"
    class='layui-btn layui-btn-sm layui-btn-primary'>新建模板</button>
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<div class="layui-form-item layui-inline">
    <label class="layui-form-label">模板名称</label>
    <div class="layui-input-inline">
        <input name="name" value="" placeholder="请输入模板名称" class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-inline">
    <button class="layui-btn layui-btn-primary" lay-filter="arrange_search" lay-submit><i
            class="layui-icon">&#xe615;</i>
        搜 索</button>
</div>
<table id="arrangeTable" lay-filter="arrangeTable"></table>
{/block}
{block name="script"}
<script>
    $(function () {
        $.layuitable('arrangeTable');
        laydate.render({ range: true, elem: '#class_time' });
    })
    var tableShow = table.render({
        elem: '#arrangeTable',

        url: '{:url("getTemplate")}', //数据接口 
        page: true, //开启分页
        toolbar: '<div>备课模板</div>',
        loading: true,
        title: '模板列表',
        cols: [[//表头
            { title: '序号', fixed: 'left', type: 'numbers' },
            { field: 'title', title: '模板名称' },
            { field: 'createTimeStr', title: '添加时间' },
            { fixed: 'right', title: '操作', width: '30%', align: 'center', toolbar: '#arrangehandle' }
        ]],
        parseData: function (res) { //res 即为原始返回的数据
            return {
                "code": res.code, //解析接口状态
                "msg": res.msg, //解析提示文本
                "count": res.count, //解析数据长度
                "data": res.data //解析数据列表
            };
        }
    });
    //搜索按钮绑定事件
    var curr = 1;
    form.on('submit(arrange_search)', function () {
        var name = $('input[name="name"]').val();
        var class_time = $('input[name="class_time"]').val();
        table.reload('arrangeTable', {
            where: {
                name: name,
                class_time: class_time
            },
            page: { curr: curr }
        })
        curr = 1;
    })
</script>
<script type="text/html" id="arrangehandle">
    <a class="layui-btn layui-btn-xs" data-action="{:url('templateEdit')}" data-title="编辑模板" lay-event="open">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-action="{:url('templateDel')}"  lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" data-action="{:url('templateLesson')}"  lay-event="href">查看计划</a>
</script>
{/block}